{% load static %}
<!DOCTYPE html>
<html lang="en">
{%include "Home/head.html" %}

<div class="modal fade" id="TwofaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<img id="AvatarBackArrow" src="{% static 'images/Arrow.svg' %}" alt="Shitty back arrow"></img>
      </div>
      <div class="modal-body">
	<div id="ModalContent" data-content="AVATAR_CHANGE"></div>
	  <div class="d-flex justify-content-center mb-4">
	      <form id="2FA_Form" method="post">
		{% csrf_token %}
		{{ profile_2fa.as_p }}
		<button type="submit">Enable</button>
	      </form>
	  </div>
	</div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
