<!DOCTYPE html>
<html lang="en">
<div id="GameListHistory">
  <div class="listHeaderContainer">	
    <h1 class="gameTitle history">Game history</h1>
  </div>
  <div class="listItemContainer">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Game Type</th>
            <th>Stats</th>
          </tr>
        </thead>
        <tbody id="GameListHistory">
          {% for key, items in context.items %}
            <tr>
              <td> {{ items.me.user.username }} </td>
              <td> {{ items.opponent.user.username }} </td>
              <td> 
              {% if items.me.winner == True %}
                winner
              {% else %}
                loser
              {% endif %}
              </td>
              <td class="button-container">
                <button class="button ButtonNeon" data-gameId="{{items.id.id}}">Stats</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</html>
