{% load static %}
<!-- Modal -->
<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img id="ModalBackArrow" src="{% static 'images/Baccara.png' %}" alt="Back arrow"></img>
        <img id="ModalCloseWindow" src="{% static 'images/Arrow.svg' %}" alt="Close window"></img>
      </div>
      <div class="modal-body">
        <div id="ModalContent" data-content="PROFILE_PAGE"></div>
        <div id="ProfilPage" class="ProfilePage modal-profile">
          <div class="ProfileCardboard modal-profileCardboard">
            <img class="ProfilePic modal-profilePic" src="{{ avatar }}" alt="Your profile picture"></img>
            <div id="UserStatus">
              <h1 id="username" data-id="{{ id }}">{{ username }}</h1>
              {% if type == 'foreign' %}
              <p id="connectStatus">{{ status }}<span class="{{ status }}"></span></p>
              {% endif %}
            </div>
          </div>
          {% if type == 'himself' %}
          <div id="Profile_Type" data-content="himself"></div>
          <button id="PROFIL_Settings" class="ButtonLayout ButtonNeon">Settings</button>
          <button id="PROFIL_Skins" class="ButtonLayout ButtonNeon">Skins</button>
          {% else %}
          <div id="Profile_Type" data-content="foreign"></div>
          <div id="Friends_Profile"></div>
          {% endif %}
          <div id ="UserInfo">
            <div id="leftline"></div>
            <p id="UserInfoText">User info</p>
            <div id="rightline"></div>
          </div>
          {% if type == 'himself' %}
          <button id="PROFIL_Friends" class="ButtonLayout ButtonBlue">Friends</button>
          {% endif %}
          <button id="PROFIL_History" class="ButtonLayout ButtonBlue">Game History</button>
          <button id="PROFIL_Stats" class="ButtonLayout ButtonBlue">Player Stats</button>

        </div>
          {% comment %} SECTION GAME HISTORY {% endcomment %}
        <div id="ListHistory" class="listHeaderContainer" hidden>
          <div class="ProfileCardboard modal-profileCardboard">
            <img class="ProfilePic modal-profilePic" src="{{ avatar }}" alt="Very basic user"></img>
            <div id="UserStatus">
              <h1 id="username">{{ username }}</h1>
              <p id="connectStatus">{{ status }}<span class="dotOnline"></span></p>
            </div>		
          </div>
          <div id="GameListHistory"></div>
        </div>
        {% comment %} End history {% endcomment %}
      </div>
    <div class="modal-footer"></div>
  </div>
</div>
</div>
