{% load static %}
<!-- Modal -->
<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
		    <img id="ModalBackArrow" src="{% static 'images/Arrow.png' %}" alt="Shitty back arrow"></img>
		  </div>
		  <div class="modal-body">
					  <div id="ModalContent" data-content="PROFILE_PAGE"></div>
					  <div class="ProfilePage modal-profile">
						  <div class="ProfileCardboard modal-profileCardboard">
							  <img class="ProfilePic modal-profilePic" src="{% static 'images/User_Test_Val.jpg' %}" alt="Very basic user"></img>
							  <div id="UserStatus">
								  <h1 id="username">DoubleV</h1>
								  <p id="connectStatus">online</p>
							  </div>
						  </div>
						  <button id="PROFIL_Settings" class="ButtonLayout ButtonNeon">Settings</button>
						  <button id="PROFIL_Skins" class="ButtonLayout ButtonSalmon">Skins</button>
						  <div id ="UserInfo">
							  <div id="leftline"></div>
							  <p id="UserInfoText">User info</p>
							  <div id="rightline"></div>
						  </div>
						  <button id="PROFIL_History" class="ButtonLayout ButtonBlue">History</button>
						  <button id="PROFIL_Stats" class="ButtonLayout ButtonBlue">Stats</button>
						  <button id="PROFIL_42Account" class="ButtonLayout ButtonBlue">42 Account</button>
					  </div>
		  </div>
		  <div class="modal-footer"></div>
		</div>
	</div>
</div>
