{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "Home/head.html" %}
<body>
  {% include "Profile/Profile.html" %}
  {% include "Profile/Avatar.html" %}
  {% include "Home/header.html" %}
	<div id="content">
		<div id="titleContent" data-content="SETTINGS"></div>
		<div id="overlayFullscreen">
			<div id="section">
				<div class="quantity">
					<button class="minus" aria-label="Decrease">&minus;</button>
					<input type="number" class="input-box" value="1" min="1" max="10">
					<button class="plus" aria-label="Increase">&plus;</button>
				</div>
			</div>
		</div>
	
	</div>
  {% include "Home/footer.html" %}


<script>
	(function () {
		const quantityContainer = document.querySelector(".quantity");
		const minusBtn = quantityContainer.querySelector(".minus");
		const plusBtn = quantityContainer.querySelector(".plus");
		const inputBox = quantityContainer.querySelector(".input-box");
	  
		updateButtonStates();
	  
		quantityContainer.addEventListener("click", handleButtonClick);
		inputBox.addEventListener("input", handleQuantityChange);
	  
		function updateButtonStates() {
		  const value = parseInt(inputBox.value);
		  minusBtn.disabled = value <= 1;
		  plusBtn.disabled = value >= parseInt(inputBox.max);
		}
	  
		function handleButtonClick(event) {
		  if (event.target.classList.contains("minus")) {
			decreaseValue();
		  } else if (event.target.classList.contains("plus")) {
			increaseValue();
		  }
		}
	  
		function decreaseValue() {
		  let value = parseInt(inputBox.value);
		  value = isNaN(value) ? 1 : Math.max(value - 1, 1);
		  inputBox.value = value;
		  updateButtonStates();
		  handleQuantityChange();
		}
	  
		function increaseValue() {
		  let value = parseInt(inputBox.value);
		  value = isNaN(value) ? 1 : Math.min(value + 1, parseInt(inputBox.max));
		  inputBox.value = value;
		  updateButtonStates();
		  handleQuantityChange();
		}
	  
		function handleQuantityChange() {
		  let value = parseInt(inputBox.value);
		  value = isNaN(value) ? 1 : value;
	  
		  // Execute your code here based on the updated quantity value
		  console.log("Quantity changed:", value);
		}
	  })();
</script>

</body>
