{% load static %}
<!DOCTYPE html>
<html>

  {% include "Home/head.html" %}
  <body>
    {% include "Profile/Avatar.html" %}
    {% include "Profile/Profile.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
    {% include "FriendList/FriendsList.html" %}
    <header>
      <div id="Header_content"></div>
    </header> 

    <div id="content">
		  <div id="titleContent" data-content="SKINS_PAGE"></div>
		  <div id="overlayFullscreen">
			  <div class="midFullscreen midrow margin_bottom">
				  <div id="section">
					  <div id="skinsTextRow">
						  <h1 id="skinsTitle">Skins</h1>
						  <p id="skinsText">Here you can customize the appearance of your game</p>
						</div>
					</div>
					<div id="section">
						<div class="columnSkin">
							<div class="Skins">
								<div class="SectionLayout SectionGrey">Paddle</div>

                  <div id="paddle" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#paddle" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#paddle" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#paddle" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-md-block">
                          <h5 class="SkinName">Paddle1</h5>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-md-block">
                          <h5 class="SkinName">Paddle2</h5>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-md-block">
                          <h5 class="SkinName">Paddle3</h5>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#paddle" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#paddle" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                  </div>

							</div>
						</div>

            <div class="columnSkin">
							<div class="Skins">
								<div class="SectionLayout SectionGrey">Background</div>
							
                <div id="background" class="carousel slide" data-bs-interval="false">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#background" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#background" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#background" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-md-block">
                        <h5 class="SkinName">Background1</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-md-block">
                        <h5 class="SkinName">Background2</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-md-block">
                        <h5 class="SkinName">Background3</h5>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#background" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#background" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </button>
                </div>
                
							</div>
						</div>
            
            
						<div class="columnSkin">
							<div id="titleContent" data-content="PROFILE_PAGE"></div>
							<div class="Skins">
                <div class="SectionLayout SectionGrey">Ball</div>
                
                <div id="ball" class="carousel slide" data-bs-interval="false">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#ball" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#ball" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#ball" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-md-block">
                        <h5 class="SkinName">Ball1</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-md-block">
                        <h5 class="SkinName">Ball2</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'images/beren-black-plinthes.jpg' %}" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-md-block">
                        <h5 class="SkinName">Ball3</h5>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#ball" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#ball" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </button>
                </div>
                
							</div>
						</div>
					</div>
          <section>
            <button id="Save_Skins" class="ButtonLayout ButtonNeon SkinsSave">Save changes</button>
          </section>
				</div>
			</div>
		</div>
		{% include "Home/footer.html" %}
	</body>
</html>
