/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {
    /* Styles */
    .ButtonLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .MediumButtonLayout {
        display: flex;
        height:  3.125rem;
        width:  47%;
        justify-content: center;
        align-items: center;
        gap:  0.625rem;
        flex-shrink:  0;  
        align-self: stretch;
        border-radius:  0.625rem;
        color: #FFF;
        font-family: Kodchasan;
        font-size:  1rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
    }

    .UpdateButtonLayout {
        display: flex;
        height:  3.125rem;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        gap:  0.625rem;
        border-radius:  0.625rem;
        color: #FFF;
        font-family: Kodchasan;
        font-size:  1rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
    }

    .SelectButtonLayout {
        display: flex;
        height:  3.125rem;
        justify-content: center;
        align-items: center;
        gap:  0.625rem;
        border-radius:  0.625rem;
        color: #FFF;
        font-family: Kodchasan;
        font-size:  1rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
    }
    
    .MediumButtonLayout.right {
        margin-left: auto;
    }

    .MediumButtonLayout.left {
        margin-right: auto;
    }

    .ButtonBlue {
        background: #525695;
        border: none;
    }

    .ButtonNeon {
        background: #202532;
        border: 1px solid #5DC6E8; 
    }

    .ButtonSalmon {
        border: none;
        background: #C1706C;
    }

    .ButtonDark {
        border: 1px solid #AE473B;
        background: #1C2026;
    }

    .Button42 {
        border: none;
        background: #00BABC;
    }

    .DoubleButtonSettings {
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: 1.25rem;
    }

    .SectionLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        margin-bottom: 2em;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .SectionGrey {
        background: #202532;
        border: 1px solid #828282; 
    }
    
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 60em) {
    /* Styles */

    .ButtonLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .MediumButtonLayout {
        display: flex;
        height:  3.125rem;
        width:  47%;
        justify-content: center;
        align-items: center;
        gap:  0.625rem;
        flex-shrink:  0;  
        align-self: stretch;
        border-radius:  0.625rem;
        color: #FFF;
        font-family: Kodchasan;
        font-size:  1rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
    }

    .SelectButtonLayout {
        display: flex;
        height:  3.125rem;
        justify-content: center;
        align-items: center;
        gap:  0.625rem;
        border-radius:  0.625rem;
        color: #FFF;
        font-family: Kodchasan;
        font-size:  1rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
    }

    .UpdateButtonLayout {
        display: flex;
        height:  3.125rem;
        width: 3.125rem;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        gap:  0.625rem;
        border-radius:  0.625rem;
        color: transparent;
        font-family: Kodchasan;
        font-size:  0.8rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
        position: relative;
    }

    .UpdateButtonLayout::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../images/icon-check.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 70%; /* Adjust these values as needed */
    }
    
    .MediumButtonLayout.right {
        margin-left: auto;
    }

    .MediumButtonLayout.left {
        margin-right: auto;
    }

    .ButtonBlue {
        background: #525695;
        border: none;
    }

    .ButtonNeon {
        background: #202532;
        border: 1px solid #5DC6E8; 
    }

    .ButtonSalmon {
        border: none;
        background: #C1706C;
    }

    .ButtonDark {
        border: 1px solid #AE473B;
        background: #1C2026;
    }

    .Button42 {
        border: none;
        background: #00BABC;
    }

    .DoubleButtonSettings {
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    .SectionLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        margin-bottom: 2em;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .SectionGrey {
        background: #202532;
        border: 1px solid #828282; 
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {
    /* Styles */

    .ButtonLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .MediumButtonLayout {
        display: flex;
        height:  3.125rem;
        width:  47%;
        justify-content: center;
        align-items: center;
        gap:  0.625rem;
        flex-shrink:  0;  
        align-self: stretch;
        border-radius:  0.625rem;
        color: #FFF;
        font-family: Kodchasan;
        font-size:  1rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
    }

    .SelectButtonLayout {
        display: flex;
        height:  3.125rem;
        justify-content: center;
        align-items: center;
        gap:  0.625rem;
        border-radius:  0.625rem;
        color: #FFF;
        font-family: Kodchasan;
        font-size:  1rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
    }

    .UpdateButtonLayout {
        display: flex;
        height:  3.125rem;
        width: 3.125rem;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        gap:  0.625rem;
        border-radius:  0.625rem;
        color: transparent;
        font-family: Kodchasan;
        font-size:  0.8rem;
        font-style: normal;
        font-weight:  400;
        line-height: normal;
        padding:  0.5rem  1rem; /* Ajout de padding pour mieux visualiser l'alignement */
        position: relative;
    }

    .UpdateButtonLayout::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../images/icon-check.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70% 70%; /* Adjust these values as needed */
    }

    .SectionLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        margin-bottom: 0.8em;
        margin-top: 2em;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .SectionGrey {
        background: #202532;
        border: 1px solid #828282; 
    }
    
    .MediumButtonLayout.right {
        margin-left: auto;
    }

    .MediumButtonLayout.left {
        margin-right: auto;
    }

    .ButtonBlue {
        background: #525695;
        border: none;
    }

    .ButtonNeon {
        background: #202532;
        border: 1px solid #5DC6E8; 
    }

    .ButtonSalmon {
        border: none;
        background: #C1706C;
    }

    .ButtonDark {
        border: 1px solid #AE473B;
        background: #1C2026;
    }

    .Button42 {
        border: none;
        background: #00BABC;
    }

    .DoubleButtonSettings {
        display: flex;
        width: 100%;
        align-items: flex-start;
    }
}
