/* Desktops and laptops ----------- */

canvas {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	align-self: center;
	aspect-ratio: 4/3;
	width: 90%;
	max-height: 80%;
	background-image: url('/static/images/BG_Forest.png');
	background-size: cover; /* Pour couvrir tout le contenu du canvas */
	background-position: center; /* Pour centrer l'image */
	z-index: 0;
}

@media only screen and (min-width : 60.063em) {


	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.scoreText {
		color: #FFF;
		text-align: center;
		font-family: Oxanium;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 60em) {

	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.scoreText {
		color: #FFF;
		text-align: center;
		font-family: Oxanium;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {

	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.scoreText {
		color: #FFF;
		text-align: center;
		font-family: Oxanium;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}
