/* Desktops and laptops ----------- */

@media only screen and (min-width : 60.063em) {

	canvas {
		align-self: center;
		aspect-ratio: 4/3;
		width: 100%;
		height: 100%;
		background-image: url('/static/images/BG_Forest.png');
		background-size: cover; /* Pour couvrir tout le contenu du canvas */
		background-position: center; /* Pour centrer l'image */
		z-index: 0;
		border-top: none;
		border-radius: 0em 0em 1em 1em;
	}

	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.scoreText {
		color: #FFF;
		text-align: center;
		font-family: Oxanium;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	#matchmakingText {

		color: #FFF;
		font-family: Kodchasan;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		justify-content: center;
		display: flex;
		margin-top: -1em;
		margin-bottom: 1em;
	}
	
	#matchmakingDots {
	
		color: #FFF;
		font-family: Kodchasan;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		justify-content: center;
		display: flex;
		margin-top: -1em;
		margin-bottom: 1em;
	}

	#endGameScreen {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-bottom: none !important;
		padding-bottom: 0.2em;
		padding-top: 0.2em;
		padding-left: 15em;
		padding-right: 15em;
	}

	#GAME_username {
		color: #FFF;
		font-family: Kodchasan;
		font-size: 1.1em;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
	}
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 46.25em) and (max-width : 60em) {

	canvas {
		align-self: center;
		aspect-ratio: 4/3;
		width: 100%;
		height: 100%;
		background-image: url('/static/images/BG_Forest.png');
		background-size: cover; /* Pour couvrir tout le contenu du canvas */
		background-position: center; /* Pour centrer l'image */
		z-index: 0;
		border-top: none;
		border-radius: 0em 0em 1em 1em;
	}

	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.scoreText {
		color: #FFF;
		text-align: center;
		font-family: Oxanium;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	#matchmakingText {

		color: #FFF;
		font-family: Kodchasan;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		justify-content: center;
		display: flex;
		margin-top: -1em;
		margin-bottom: 1em;
	}
	
	#matchmakingDots {
	
		color: #FFF;
		font-family: Kodchasan;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		justify-content: center;
		display: flex;
		margin-top: -1em;
		margin-bottom: 1em;
	}

	#endGameScreen {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-bottom: none !important;
		padding-bottom: 0.2em;
		padding-top: 0.2em;
		padding-left: 15em;
		padding-right: 15em;
	}

	#GAME_username {
		color: #FFF;
		font-family: Kodchasan;
		font-size: 1.1em;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
	}
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 46.25em) {

	canvas {
		align-self: center;
		aspect-ratio: 4/3;
		width: 100%;
		height: 100%;
		background-image: url('/static/images/BG_Forest.png');
		background-size: cover; /* Pour couvrir tout le contenu du canvas */
		background-position: center; /* Pour centrer l'image */
		z-index: 0;
		border-radius: 0em 0em 1em 1em;
	}

	.flex-row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.scoreText {
		color: #FFF;
		text-align: center;
		font-family: Oxanium;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	#matchmakingText {

		color: #FFF;
		font-family: Kodchasan;
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		justify-content: center;
		display: flex;
		margin-top: -1em;
		margin-bottom: 1em;
	}
	
	#matchmakingDots {
	
		color: #FFF;
		font-family: Kodchasan;
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		justify-content: center;
		display: flex;
		margin-top: -1em;
		margin-bottom: 1em;
	}

	#endGameScreen {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-bottom: none !important;
		padding-bottom: 5em;
		padding-top: 5em;
		padding-left: 15vw;
		padding-right: 15vw;
        border: 1px solid #5dc6e8;
	}

	#GAME_username {
		display: none;
	}
}

#matchmakingContainer {
	display: flex;
	flex-direction: row;
}

#matchmakingDotsContainer {
    display: flex;
	width: 1.5rem;
}

#parent {
	height: 100%;
	width: 100%;
}

#endGameMessage {
	color: #FFF;
	text-align: right;
	font-family: Kodchasan;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 2em;
	margin-bottom: 2em;
}
