:root::-webkit-scrollbar{
	display: none;
  }
  
:root {
scrollbar-width: none;
-ms-overflow-style: none;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 60em) {
    /* Styles */

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		scrollbar-width: none;
		position: relative;

		min-height: 100vh;
	}

	#content {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		position: relative;

		flex-grow: 2;
	}

.mid {
		display: flex;
		height: 50em;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		color:#FFF;

		border-radius: 25px;
		border: 1px solid #5DC6E8;
		background: rgba(28, 32, 38, 0.75);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
		position: relative;
	}

	.midFullscreen {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#overlayFullscreen {
		content: "";
		display: flex;
		top:  0;
		left:  0;
		/* Overlay complet */
		/* width:  100%;
		height:  100%; */
		/* Pour faire une fenetre */
		width: 60em;
    	height: 40em;
		background-color: rgba(28,  32,  38,  0.85); /* Adjust the color and opacity as needed */
		z-index: -1; /* Ensure the overlay is behind the content */
		border: 1px solid #5DC6E8;
		border-radius: 25px;
		margin-top: 2em;
		margin-bottom: 2em;
	}

	#overlayMobile {
		display: none;
	}

	#contentFullscreen {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: -2; /* Ensure the overlay is behind the content */
		flex-grow: 1;
	}

	.midrow {
		flex-direction: column;
		width: 100vw;
	}

	.midcolumn {
		flex-direction: column;
		width: 47em;
	}

	#WelcomeScreen {
		display: flex;
		width: 75%;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.8rem;
		flex-shrink: 0;
		margin-block-end: 0;
	}

	.pong {
		display: flex;
		align-self: stretch;
		border: 1px solid #FFF;
		border-radius: 1rem;
	}

	#pong_img {
		align-self: stretch;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1rem;
	}

	.welcome-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 2.125em;
		padding-top: 1.5em;
		align-self: stretch;
	}

	.welcome-to-pong {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Madness;
		font-size: 6rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.welcome-to-pong::after {
		content: '!';
		padding-left: 0.6rem;
	}

	.please-log-in {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.play-button {
		display: flex;
		width: 28.125rem;
		height: 4.375rem;
		padding: 0.625rem 11.25rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
	}

	.play {
		color: #FFF;
		font-family: Madness;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 60em) {
    /* Styles */

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		scrollbar-width: none;
		position: relative;

		min-height: 100vh;
	}

	#content {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		position: relative;

		flex-grow: 2;
	}

	.mid {
		display: flex;
		flex-direction: column;
		width: 35em;
		height: 50em;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		color:#FFF;

		border-radius: 25px;
		border: 1px solid #5DC6E8;
		background: rgba(28, 32, 38, 0.75);
		box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.45);
		position: relative;
	}

	.midrow {
		flex-direction: row;
		width: 100vw;
	}

	.midcolumn {
		flex-direction: column;
	}

	.midFullscreen {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#overlayFullscreen {
		content: "";
		display: flex;
		top:  0;
		left:  0;
		width:  100%;
		height:  100%;
		background-color: rgba(28,  32,  38,  0.85); /* Adjust the color and opacity as needed */
		z-index: -1; /* Ensure the overlay is behind the content */
	}

	#overlayMobile {
		display: none;
	}

	#contentFullscreen {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		/* justify-content: center; */
		position: relative;
		z-index: -2; /* Ensure the overlay is behind the content */
		flex-grow: 1;
	}

	.pong {
		display: flex;
		align-self: stretch;
		border: 1px solid #FFF;
		border-radius: 1rem;
	}

	#pong_img {
		align-self: stretch;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1rem;
	}

	#WelcomeScreen {
		display: flex;
		width: 75%;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.8rem;
		flex-shrink: 0;
		margin-block-end: 0;
	}

	.welcome-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 2.125em;
		padding-top: 1.5em;
		align-self: stretch;
	}

	.welcome-to-pong {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Madness;
		font-size: 5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.welcome-to-pong::after {
		content: '!';
		padding-left: 0.6rem;
	}

	.please-log-in {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.play-button {
		display: flex;
		width: 23rem;
		height: 4.375rem;
		padding: 0.625rem 11.25rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
	}

	.play {
		color: #FFF;
		font-family: Madness;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {
    /* Styles */	
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		scrollbar-width: none;
		position: relative;
		min-height: 100vh;
		min-width: fit-content;
	}

	#content {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		/* justify-content: center; */
		position: relative;
		z-index: -2; /* Ensure the overlay is behind the content */
		flex-grow: 1;
	}

	#overlay {
		content: "";
		display: flex;
		position: absolute;
		top:  0;
		left:  0;
		width:  100%;
		height:  100%;
		background-color: rgba(28,  32,  38,  0.75); /* Adjust the color and opacity as needed */
		z-index: -1; /* Ensure the overlay is behind the content */
	}

	#overlayMobile {
		content: "";
		display: flex;
		top:  0;
		left:  0;
		width:  100%;
		height:  100%;
		background-color: rgba(28,  32,  38,  0.75); /* Adjust the color and opacity as needed */
		z-index: -1; /* Ensure the overlay is behind the content */
	}

	.mid {
		display: flex;
		height: 100%;
		padding: 3vh 4vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.midMobile {
		display: flex;
		height: 100%;
		padding: 3vh 4vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.midFullscreen {
		display: flex;
		height: 100%;
		padding: 3vh 4vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	#overlayFullscreen {
		display: none;
	}

	#contentFullscreen {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		/* justify-content: center; */
		position: relative;
		z-index: -2; /* Ensure the overlay is behind the content */
		flex-grow: 1;
	}

	#pong_img {
		align-self: stretch;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0.625rem;
	}

	#WelcomeScreen {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 0.8rem;
		flex-shrink: 0;
		margin-block-end: 0;
	}

	.welcome-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 2em;
		padding-top: 2em;
		align-self: stretch;
	}

	.welcome-to-pong {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Madness;
		font-size: 4rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.welcome-to-pong::after {
		content: '!';
		padding-left: 0.6rem;
	}

	.please-log-in {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.play-button {
		width: 75%;
		height: 4.375rem;
		padding: 0.625rem;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
	}

	.play {
		color: #FFF;
		font-family: Madness;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}


}