body {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;
}

#mid {
	display: flex;
	flex-direction: column;
	background: url('../images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	align-self: stretch;
	align-items: center;
	justify-content: center;

	flex-grow: 2;
}

#content {
	display: flex;
	width: 46.875em;
	height: 43.125em;
	padding: 3.125em 6.25em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3.4375em;
	flex-shrink: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	color:#FFF;

	border-radius: 1.5625rem;
	border: 2px solid #5DC6E8;
	background: #1C2026;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.pong {
	flex: 1 0 0;
	align-self: stretch;

	border: 1px solid #FFF;
	background: url('../images/pong.webp');
	background-size: cover;
}

.welcome-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.1875rem;
	align-self: stretch;
}

.welcome-to-pong {
	align-self: stretch;

	color: #FFF;
	text-align: center;

	/* Title Desktop */
	font-family: Montserrat;
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.please-log-in {
	align-self: stretch;

	color: #FFF;
	text-align: center;

	/* Body Tablet */
	font-family: Montserrat;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.les-keep {
	color:#FFF;
	padding-right: 1.25em;
}

footer {
	display: flex;
	width: 100%;
	height: 3.4375rem;
	justify-content: flex-end;
	align-items: center;
	flex-shrink: 0;
	margin-bottom: -3.4375rem;

	background: #0F0F10;
}

header {
	width: 100%;
	height: 5.625rem;
	flex-shrink: 0;

	background: #151821;
}
