:root::-webkit-scrollbar{
	display: none;
  }
  
:root {
scrollbar-width: none;
-ms-overflow-style: none;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {
    /* Styles */

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		scrollbar-width: none;
		position: relative;

		min-height: 100vh;
	}

	
	#content {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		position: relative;
		
		flex-grow: 2;
	}
	
	/* OFF CANVAS */
	
	.pe-3 {
		padding-right: 0rem!important;
	}
	
	.nav-item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.offcanvas-header {
		height: 3.4375em;
		background: #08090c;
		justify-content: flex-end;
	}

	.offcanvas-body {
		flex-grow: 1;
		padding: 0rem;
		overflow-y: auto;
		background-color: #151821;
	}

	.offcanvas-profile {
        width: 80%;
        padding-top: 5vh;
    }

	.offcanvas-profileCardboard {
        width: 80%;
        margin: 1em 0em;
    }

	.offcanvas-profilePic {
        width: 5em;
		height: 5em;
    }

    .offcanvas-section {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

	.offcanvas-section-border {
        border-bottom: 1px solid #828282;
    }

	.offcanvas-section-bottom {
        bottom: 5vh;
		position: absolute;
    }

	#userStats {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2em 0em;
		gap: 1em;
	}

	#WR::before {
        content: url('../images/WRcrown.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right: 0.5rem; /* Adds some space between the icon and the text */
        vertical-align: top; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

	#WR {
        color: #FFC130;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	#gamesPlayed {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	#tournamentsPlayed {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	/* MAIN CONTENT */

	.mid {
		display: flex;
		height: 47em;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		color:#FFF;

		border-radius: 15px;
		border: 1px solid #5DC6E8;
		background: rgba(28, 32, 38, 0.75);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
		position: relative;
	}

	.midFullscreen {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#overlayFullscreen {
		content: "";
		display: flex;
		top:  0;
		left:  0;
		/* Overlay complet */
		width:  100%;
		height:  100%;
		/* Pour faire une fenetre */
		/* width: 60em;
    	height: 40em; */
		background-color: rgba(28,  32,  38,  0.85); /* Adjust the color and opacity as needed */
		z-index: 0; /* Ensure the overlay is behind the content */
		justify-content: center;
		flex-grow: 1;
    	align-items: center;
		/* border: 1px solid #5DC6E8;
		border-radius: 10px;
		margin-top: 2em;
		margin-bottom: 2em; */
	}

	#overlayMobile {
		display: none;
	}

	#contentFullscreen {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: -2; /* Ensure the overlay is behind the content */
		flex-grow: 1;
	}

	.midrow {
		flex-direction: column;
		width: 100vw;
	}

	.midcolumn {
		flex-direction: column;
		width: 48em;
	}

	#WelcomeScreen {
		display: flex;
		width: 70%;
		flex-direction: column;
		align-items: center;
		gap: 0.8rem;
		flex-shrink: 0;
		margin-block-end: 0;
	}

	.pong {
		display: flex;
		align-self: stretch;
		border: 1px solid #FFF;
	}

	#pong_img {
		align-self: stretch;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.welcome-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 1em;
		align-self: stretch;
	}

	.welcome-to-pong {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Madness;
		font-size: 6rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.welcome-to-pong::after {
		content: '!';
		padding-left: 0.6rem;
	}

	.please-log-in {
		color: #FFF;
		text-align: center;
		align-self: center;

		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-top: -0.8em;
		padding-bottom: 1em;
	}

	.or {
		color: #FFF;
		text-align: center;
		align-self: center;
		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.play-button {
		display: flex;
		width: 28.125rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

	.play-button:hover {
        transform: scale(1.03);
    }

    .play-button:not(:hover) {
        transform: scale(1.0);
    }

	#SigninButton {
		display: flex;
		width: 12rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;
		margin-right: 1em;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

        #SigninButton:hover {
          transform: scale(1.03);
        }
        #SigninButton:not(:hover) {
          transform: scale(1.0);
        }

	#SignupButton {
		display: flex;
		width: 12rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;
		margin-left: 1em;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

        #SignupButton:hover {
          transform: scale(1.03);
        }
        #SignupButton:not(:hover) {
          transform: scale(1.0);
      }

	#HomeDualButton {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}

	.play {
		color: #FFF;
		font-family: Madness;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 46.25em) and (max-width : 60em) {
    /* Styles */

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		scrollbar-width: none;
		position: relative;

		min-height: 100vh;
	}

	#content {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		position: relative;

		flex-grow: 2;
	}

	/* OFF CANVAS */

	.pe-3 {
		padding-right: 0rem!important;
	}

	.nav-item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.offcanvas-header {
		height: 3.4375em;
		background: #08090c;
		justify-content: flex-end;
	}

	.offcanvas-body {
		flex-grow: 1;
		padding: 0rem;
		overflow-y: auto;
		background-color: #151821;
	}

	.offcanvas-profile {
        width: 80%;
        padding-top: 5vh;
    }

	.offcanvas-profileCardboard {
        width: 80%;
        margin: 1em 0em;
    }

	.offcanvas-profilePic {
        width: 4.5em;
		height: 4.5em;
    }

    .offcanvas-section {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

	.offcanvas-section-border {
        border-bottom: 1px solid #828282;
    }

	.offcanvas-section-bottom {
        bottom: 5vh;
		position: absolute;
    }

	#userStats {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2em 0em;
		gap: 1em;
	}

	#WR::before {
        content: url('../images/WRcrown.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right: 0.5rem; /* Adds some space between the icon and the text */
        vertical-align: top; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

	#WR {
        color: #FFC130;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	#gamesPlayed {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	#tournamentsPlayed {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	/* MAIN CONTENT */

	.mid {
		display: flex;
		flex-direction: column;
		width: 43em;
		height: 45em;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		color:#FFF;

		border-radius: 15px;
		border: 1px solid #5DC6E8;
		background: rgba(28, 32, 38, 0.75);
		box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.45);
		position: relative;
	}

	.midrow {
		flex-direction: row;
		width: 100vw;
	}

	.midcolumn {
		flex-direction: column;
	}

	.midFullscreen {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#overlayFullscreen {
		content: "";
		display: flex;
		top:  0;
		left:  0;
		/* Overlay complet */
		width:  100%;
		height:  100%;
		background-color: rgba(28,  32,  38,  0.85); /* Adjust the color and opacity as needed */
		z-index: 0; /* Ensure the overlay is behind the content */
		justify-content: center;
		flex-grow: 1;
    	align-items: center;
		/* Pour faire une fenetre */
		/* width: 60em;
    	height: 40em; */
		/* border: 1px solid #5DC6E8;
		border-radius: 10px;
		margin-top: 2em;
		margin-bottom: 2em; */
	}

	#overlayMobile {
		display: none;
	}

	#contentFullscreen {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		/* justify-content: center; */
		position: relative;
		z-index: -2; /* Ensure the overlay is behind the content */
		flex-grow: 1;
	}

	.pong {
		display: flex;
		align-self: stretch;
		border: 1px solid #FFF;
	}

	#pong_img {
		align-self: stretch;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#WelcomeScreen {
		display: flex;
		width: 75%;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.8rem;
		flex-shrink: 0;
		margin-block-end: 0;
	}

	.welcome-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 1.5em;
		padding-bottom: 0.5em;
		align-self: stretch;
	}

	.welcome-to-pong {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Madness;
		font-size: 5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.welcome-to-pong::after {
		content: '!';
		padding-left: 0.6rem;
	}

	.please-log-in {
		color: #FFF;
		text-align: center;
		align-self: center;

		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-top: -0.8em;
		padding-bottom: 1.2em;
	}

	.or {
		color: #FFF;
		text-align: center;
		align-self: center;
		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.play-button {
		display: flex;
		width: 23rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

	.play-button:hover {
        transform: scale(1.03);
    }

    .play-button:not(:hover) {
        transform: scale(1.0);
    }

	.play {
		color: #FFF;
		font-family: Madness;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	#SigninButton {
		display: flex;
		width: 10rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;
		margin-right: 1em;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

        #SigninButton:hover {
          transform: scale(1.03);
        }
        #SigninButton:not(:hover) {
          transform: scale(1.0);
        }

	#SignupButton {
		display: flex;
		width: 10rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;
		margin-left: 1em;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

        #SignupButton:hover {
          transform: scale(1.03);
        }
        #SignupButton:not(:hover) {
          transform: scale(1.0);
        }

	#HomeDualButton {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 46.25em) {
    /* Styles */	
	
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		scrollbar-width: none;
		position: relative;
		min-height: 100vh;
		min-width: 300px;
	}

	.root {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh; /* Ensure the root takes the full viewport height */
	}

	#content {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		/* justify-content: center; */
		position: relative;
		flex-grow: 1;
	}

	/* OFF CANVAS */

	.pe-3 {
		padding-right: 0rem!important;
	}

	.nav-item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.offcanvas-header {
		height: 3.4375em;
		background: #08090c;
		justify-content: flex-end;
	}

	.offcanvas-body {
		flex-grow: 1;
		padding: 0rem;
		overflow-y: auto;
		background-color: #151821;
	}

	.offcanvas-profile {
        width: 80%;
        padding-top: 5vh;
    }

	.offcanvas-profileCardboard {
        width: 80%;
        margin: 1em 0em;
    }

	.offcanvas-profilePic {
        width: 4.5em;
		height: 4.5em;
    }

    .offcanvas-section {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

	.offcanvas-section-border {
        border-bottom: 1px solid #828282;
    }

	.offcanvas-section-bottom {
        bottom: 5vh;
		position: absolute;
    }

	#userStats {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2em 0em;
		gap: 1em;
	}

	#WR::before {
        content: url('../images/WRcrown.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right: 0.5rem; /* Adds some space between the icon and the text */
        vertical-align: top; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

	#WR {
        color: #FFC130;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	#gamesPlayed {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	#tournamentsPlayed {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

	/* MAIN CONTENT */

	.mid {
		display: flex;
		/* min-height: 100vh; */
		padding: 5vh 4vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.midcolumn {
		/* flex-direction: column;
		width: 48em; */
		/* min-height: 100vh; */
	}

	.midMobile {
		display: flex;
		height: 100%;
		padding: 3vh 4vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.midFullscreen {
		display: flex;
		height: 100%;
		padding: 3vh 4vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	#overlay {
		content: "";
		display: flex;
		top:  0;
		left:  0;
		width:  100%;
		height:  100%;
		background-color: rgba(28,  32,  38,  0.75); /* Adjust the color and opacity as needed */
		z-index: 0; /* Ensure the overlay is behind the content */
		flex-grow: 1;
    	align-items: center;
	}

	#overlayMobile {
		content: "";
		display: none;
		top:  0;
		left:  0;
		width:  100%;
		height:  100%;
		background-color: rgba(28,  32,  38,  0.85); /* Adjust the color and opacity as needed */
		z-index: 0; /* Ensure the overlay is behind the content */
	}

	#overlayFullscreen {
		content: "";
		/* display: none; */
		top:  0;
		left:  0;
		/* Overlay complet */
		width:  100%;
		height:  100%;
		background-color: rgba(28,  32,  38,  0.85); /* Adjust the color and opacity as needed */
		z-index: 0; /* Ensure the overlay is behind the content */
		justify-content: center;
		flex-grow: 1;
    	align-items: center;
		/* Pour faire une fenetre */
		/* width: 60em;
    	height: 40em; */
		/* border: 1px solid #5DC6E8;
		border-radius: 10px;
		margin-top: 2em;
		margin-bottom: 2em; */
	}

	#contentFullscreen {
		display: flex;
		flex-direction: column;
		background: url('../images/background.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		align-self: stretch;
		align-items: center;
		/* justify-content: center; */
		position: relative;
		z-index: -2; /* Ensure the overlay is behind the content */
		flex-grow: 1;
	}

	#pong_img {
		align-self: stretch;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	#WelcomeScreen {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 0.8rem;
		flex-shrink: 0;
		margin-block-end: 0;
	}

	.welcome-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 1em;
		align-self: stretch;
	}

	.welcome-to-pong {
		align-self: stretch;

		color: #FFF;
		text-align: center;

		font-family: Madness;
		font-size: 5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.welcome-to-pong::after {
		content: '!';
		padding-left: 0.6rem;
	}

	.please-log-in {
		color: #FFF;
		text-align: center;
		align-self: center;

		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-top: -0.8em;
		padding-bottom: 1em;
	}

	.or {
		color: #FFF;
		text-align: center;
		align-self: center;
		font-family: Kodchasan;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.play-button {
		width: 75%;
		height: 4.375rem;
		padding: 0.625rem;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

	.play-button:hover {
        transform: scale(1.03);
    }

    .play-button:not(:hover) {
        transform: scale(1.0);
    }

	.play {
		color: #FFF;
		font-family: Madness;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	#SigninButton {
		display: flex;
		width: 8.5rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;
		margin-right: 0.5em;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

        #SigninButton:hover {
          transform: scale(1.03);
        }
        #SigninButton:not(:hover) {
          transform: scale(1.0);
        }

	#SignupButton {
		display: flex;
		width: 8.5rem;
		height: 4.375rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		flex-shrink: 0;
		align-self: center;
		margin-left: 0.5em;

		border-color: #5DC6E8;
		border-radius: 0.625rem;
		background: #202532;
		transition: transform 0.5s ease;
	}

        #SignupButton:hover {
          transform: scale(1.03);
        }
        #SignupButton:not(:hover) {
          transform: scale(1.0);
        }

	#HomeDualButton {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
}
