:root::-webkit-scrollbar{
	display: none;
  }
  
:root {
scrollbar-width: none;
-ms-overflow-style: none;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {
    /* Styles */

	/* MODAL WINDOW */
	.modal-header {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: flex-end;
		padding-top: 1.3rem;
		padding-bottom: 0;
		padding-right: 1.3rem;
		border: none;
		border-top-left-radius: calc(0.3rem - 1px);
		border-top-right-radius: calc(0.3rem - 1px);
	}

	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-clip: padding-box;
		background: #151821;
		border-color: #5DC6E8;
		border-width: 1px;
		border-radius: 15px;
		outline: 0;
	}

	.modal-body {
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		position: relative;
	}


    .modal-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem;
		border: none;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px);
    }

	.modal-profile {
        width: 70%;
    }

	.modal-profileCardboard {
        width: 100%;
    }

    .modal-profilePic {
        width: 5em;
    }

}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 60em) {
    /* Styles */

	/* MODAL WINDOW */
	.modal-header {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: flex-end;
		padding-top: 1.3rem;
		padding-bottom: 0;
		padding-right: 1.3rem;
		border: none;
		border-top-left-radius: calc(0.3rem - 1px);
		border-top-right-radius: calc(0.3rem - 1px);
	}

	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-clip: padding-box;
		background: #151821;
		border-color: #5DC6E8;
		border-width: 1px;
		border-radius: 15px;
		outline: 0;
	}

	.modal-body {
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		position: relative;
	}


	.modal-footer {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 0;
		align-items: center;
		justify-content: flex-end;
		padding: 2rem;
		border: none;
		border-bottom-right-radius: calc(0.3rem - 1px);
		border-bottom-left-radius: calc(0.3rem - 1px);
	}

	.modal-profile {
        width: 65%;
    }

	.modal-profileCardboard {
        width: 100%;
    }

    .modal-profilePic {
        width: 5em;
    }

}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {

	/* MODAL WINDOW */
	.modal-header {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: flex-end;
		padding-top: 1.3rem;
		padding-bottom: 0;
		padding-right: 1.3rem;
		border: none;
		border-top-left-radius: calc(0.3rem - 1px);
		border-top-right-radius: calc(0.3rem - 1px);
	}

	.modal-content {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-clip: padding-box;
		background: #151821;
		border-color: #5DC6E8;
		border-width: 1px;
		border-radius: 15px;
		outline: 0;
	}

	.modal-body {
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		position: relative;
	}


	.modal-footer {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 0;
		align-items: center;
		justify-content: flex-end;
		padding: 2rem;
		border: none;
		border-bottom-right-radius: calc(0.3rem - 1px);
		border-bottom-left-radius: calc(0.3rem - 1px);
	}

	.modal-profile {
        width: 65%;
    }

	.modal-profileCardboard {
        width: 100%;
    }

    .modal-profilePic {
        width: 5em;
    }
}
