/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {

    .conteneur {
        display: flex;
        justify-content: space-between;
       }
       
    .column {
        flex: 1;
        flex-direction: row;
        display: flex;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
       }

    .section {
        width: 25rem;
        margin-bottom: 1.6rem;
    }

    .bodyText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-bottom: 0.7rem;
    }

    .gameTitle {
        color: #FFF;
        font-family: Madness;
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
        border-bottom: #FFF solid 1px;
        margin-bottom: 1.5rem;
    }

    .modesTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }

    .quantity {
        border: 1px solid #5dc6e8;
        border-radius: 0.6em;
    }

    .quantity button {
        background-color: #202532;
    }

    .quantity button:hover {
        background-color: #202532;
    }

    .ms-0 {
        margin-top: none;
    }

    #StartButton {
        width: 100%;
        margin-top: 1.5rem;
        margin-bottom: -1.6rem;
    }

    #switchCheckLabelTop {
        width: 5.3em;
        height: 2.6em;
        border-radius: 0.7em;
        margin-top: 0;
        border-color: #5dc6e8;
    }

    .form-switch .form-check-input:checked {
        background-color: #1C2026;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e");
    }

    .form-switch .form-check-input:not(:checked) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231C2026'/%3e%3c/svg%3e");
    }
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 60em) {

    .conteneur {
        display: flex;
        justify-content: space-between;
       }
       
    .column {
        flex: 1;
        flex-direction: row;
        display: flex;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
       }

    .section {
        width: 25rem;
        margin-bottom: 1.6rem;
    }

    .bodyText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-bottom: 0.7rem;
    }

    .gameTitle {
        color: #FFF;
        font-family: Madness;
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }

    .modesTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }

    .quantity {
        border: 1px solid #5dc6e8;
        border-radius: 0.6em;
    }

    .quantity button {
        background-color: #202532;
    }

    .quantity button:hover {
        background-color: #202532;
    }

    .ms-0 {
        margin-top: none;
    }

    #StartButton {
        width: 100%;
        margin-top: 0.7rem;
        margin-bottom: -1.6rem;
    }

    #switchCheckLabelTop {
        width: 5.3em;
        height: 2.6em;
        border-radius: 0.7em;
        margin-top: 0;
        border-color: #5dc6e8;
    }

    .form-switch .form-check-input:checked {
        background-color: #1C2026;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e");
    }

    .form-switch .form-check-input:not(:checked) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231C2026'/%3e%3c/svg%3e");
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {
 


    .conteneur {
        display: flex;
        justify-content: space-between;
       }
       
    .column {
        flex: 1;
        flex-direction: row;
        display: flex;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
       }

    .section {
        width: 90vw;
        margin-bottom: 1.6rem;
    }

    .bodyText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-bottom: 0.7rem;
    }

    .gameTitle {
        color: #FFF;
        font-family: Madness;
        font-size: 5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }

    .modesTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }

    .quantity {
        border: 1px solid #5dc6e8;
        border-radius: 0.6em;
        margin-bottom: 0.7em;
        height: 2.6em;
        width: fit-content;
    }

    .quantity button {
        background-color: #202532;
        width: auto;
        white-space: nowrap;
    }

    .quantity button:hover {
        background-color: #202532;
    }

    .ms-0 {
        margin-top: none;
    }

    #StartButton {
        width: 100%;
        margin-top: 0.7rem;
        margin-bottom: -1.6rem;
    }

    #switchCheckLabelTop {
        width: 5.3em;
        height: 2.6em;
        border-radius: 0.7em;
        margin-top: 0;
        border-color: #5dc6e8;
    }

    .form-switch .form-check-input:checked {
        background-color: #1C2026;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFFFFF'/%3e%3c/svg%3e");
    }

    .form-switch .form-check-input:not(:checked) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231C2026'/%3e%3c/svg%3e");
    }
}