/* Desktops and laptops ----------- */
@media only screen and (min-width : 53.125em) {
    /* Styles */

    #ProfilePic {
        border-radius: 100%;
        width: 17%;
        border: 1px solid #5DC6E8;
    }
    #username {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 53.125em) {
    /* Styles */

    #username {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {
    /* Styles */
    #username {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
    }
}
