/* Desktops and laptops ----------- */
@media only screen and (min-width : 53.125em) {
    /* Styles */

    #BackArrow {
        position: absolute;
        top: 2.5em;
        right: 2.5em;
        width: 5%;
    }

    .ButtonLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .ButtonBlue {
        background: #525695;
        border: none;
    }

    .ButtonNeon {
        background: #202532;
        border-color: #5DC6E8;
    }

    .ButtonSalmon {
        border: none;
        background: #C1706C;
    }

    .Button42 {
        border: none;
        background: #00BABC;
    }

    #ProfilePage {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        flex-shrink: 0;
        padding: 3.125em 8em;
    }

    #ProfilePic {
        border-radius: 100%;
        width: 14%;
        border: 1px solid #5DC6E8;
    }
    #username {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #UserInfo {
        display: flex;
        align-items: center; /* Centré verticalement */
        justify-content: space-between; /* Espacement entre les enfants */
        width:  100%; /* Largeur complète pour que les lignes s'étendent */
        margin-top: -1rem;
        margin-bottom: -1rem;
    }

    #UserInfoText {
        order:  1; /* Positionnement du texte au milieu */
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #ProfileCardboard {
        display: flex;
        width: 100%;
        height: 5.625rem;
        align-items: flex-start;
        gap: 1.25rem;
        flex-shrink: 0;
    }

    #UserStatus {
        display: flex;
        height: 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #connectStatus {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 53.125em) {
    /* Styles */

    #BackArrow {
        position: absolute;
        top: 2em;
        right: 2em;
        width: 7%;
    }

    .ButtonLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .ButtonBlue {
        background: #525695;
        border: none;
    }

    .ButtonNeon {
        background: #202532;
        border-color: #5DC6E8;
    }

    .ButtonSalmon {
        border: none;
        background: #C1706C;
    }

    .Button42 {
        border: none;
        background: #00BABC;
    }

    #ProfilePage {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        flex-shrink: 0;
    }

    #ProfilePic {
        border-radius: 100%;
        width: 14%;
        border: 1px solid #5DC6E8;
    }
    #username {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #UserInfo {
        display: flex;
        align-items: center; /* Centré verticalement */
        justify-content: space-between; /* Espacement entre les enfants */
        width:  100%; /* Largeur complète pour que les lignes s'étendent */
        margin-top: -1rem;
        margin-bottom: -1rem;
    }

    #UserInfoText {
        order:  1; /* Positionnement du texte au milieu */
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #ProfileCardboard {
        display: flex;
        width: 100%;
        height: 5.625rem;
        align-items: flex-start;
        gap: 1.25rem;
        flex-shrink: 0;
    }

    #UserStatus {
        display: flex;
        height: 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #connectStatus {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {
    /* Styles */
    #BackArrow {
        position: absolute;
        top: 2em;
        right: 2em;
        width: 7%;
    }

    .ButtonLayout {
        display: flex;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.625rem;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .ButtonBlue {
        background: #525695;
        border: none;
    }

    .ButtonNeon {
        background: #202532;
        border-color: #5DC6E8;
    }

    .ButtonSalmon {
        border: none;
        background: #C1706C;
    }

    .Button42 {
        border: none;
        background: #00BABC;
    }

    #ProfilePage {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        flex-shrink: 0;
        padding: 3.125em 8em;
    }

    #ProfilePic {
        border-radius: 100%;
        width: 14%;
        border: 1px solid #5DC6E8;
    }
    #username {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #UserInfo {
        display: flex;
        align-items: center; /* Centré verticalement */
        justify-content: space-between; /* Espacement entre les enfants */
        width:  100%; /* Largeur complète pour que les lignes s'étendent */
        margin-top: -1rem;
        margin-bottom: -1rem;
    }

    #UserInfoText {
        order:  1; /* Positionnement du texte au milieu */
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #ProfileCardboard {
        display: flex;
        width: 100%;
        height: 5.625rem;
        align-items: flex-start;
        gap: 1.25rem;
        flex-shrink: 0;
    }

    #UserStatus {
        display: flex;
        height: 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #connectStatus {
        color: #FFF;
        text-align: right;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
