/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {
    /* Styles */
    #leftcolumn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #rightcolumn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #Settings {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding-left: 4em;
        padding-right: 4em;
    }

    #section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60em;
    }

    #headerTextRow {
        width: 100%;
        padding-left: 4em;
        padding-right: 4em;
        margin-top: 1em;
    }

    #settingsTitle::before {
        content: url('../images/gear-11-svgrepo-com.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right: 2rem; /* Adds some space between the icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

    #settingsTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: flex-start;
        display: flex;
        width: 70%;
    }

    #settingsText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-top: 0.7rem;
        margin-bottom: 2.8em;
    }

    #separator {
        flex:  1; /* Occupation de l'espace disponible */
        border-top:  1px solid #828282; /* Ligne horizontale en haut */
        padding-bottom: 4em;
    }

    .field-container {
        display: flex;
    }

    #NAME_Form {
        margin-bottom: 1em;
    }

    #NAME_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #NAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #NAME_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #MAIL_Form {
        margin-bottom: 1em;
    }

    #MAIL_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #MAIL_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #MAIL_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #PASS_Form {
        margin-bottom: 1em;
    }

    #PASS_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #PASS_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #PASS_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #TNAME_Form {
        margin-bottom: 1em;
    }

    #TNAME_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #TNAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #TNAME_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #AVATAR_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
    }
    
    #AVATAR_Form {
        margin-bottom: 0em;
    }

    #AVATAR_Form p {
        display: none;
    }

    #AvatarText {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
    }

    #avatar_button_hidden {
        display: none;
    }

    #id_avatar {
        display: none;
    }

    .AVATAR_selection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #selectedAvatar {
        margin-bottom: 2em;
    }

    #AvatarBackArrow {
        width: 3rem;
        font-size: 0px;
        padding: 0;
        background: transparent;
        color: transparent;
        border: none;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    #TWOFA_modal {
        width: 100%;
    }

    #TWOFA_Form {
        display: none;
    }

    #QR_Code > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #QR_Code > svg {
        display: block;
        margin: auto;
        margin-top: 1rem;
        background-color:#ffffff;
    }

    #form_2FA {
        margin-bottom: 1em;
        flex-direction: column;
        width: 90%;
        display: flex;
    }

    #form_2FA > p {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    #form_2FA > label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: flex-start !important;
    }

    #form_2FA > input {
        height: 3.125rem;
        width: 100%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #confirm_2fa {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    label[for="id_otp"]  {
        display: none !important; /* Force l'application du style */
    }

    #otp {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #Submit2FA {
        margin-bottom: 1rem;
    }

    .settings-profilePic {
		height: 6em;
        width: 6em;
        object-fit: cover;
        cursor: pointer;
    }
    
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 60em) {
    /* Styles */
    #leftcolumn {
        display: flex;
        justify-content: center;
        width: 18em;
    }

    #rightcolumn {
        display: flex;
        justify-content: center;
        width: 18em;
    }

    #Settings {
        display: flex;
        width: 80%;
        flex-direction: column;
        flex-shrink: 0;
    }

    #section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #headerTextRow {
        width: 32em;
        margin-top: 1em;
    }

    #settingsTitle::before {
        content: url('../images/gear-11-svgrepo-com.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right:  2rem; /* Adds some space between the icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

    #settingsTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: flex-start;
        display: flex;
        width: 70%;
    }

    #settingsText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-top: 0.7rem;
        margin-bottom: 2.8em;
    }

    #separator {
        flex:  1; /* Occupation de l'espace disponible */
        border-top:  1px solid #828282; /* Ligne horizontale en haut */
        padding-bottom: 4em;
    }

    .field-container {
        display: flex;
    }

    #NAME_Form {
        margin-bottom: 1em;
    }

    #NAME_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #NAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #NAME_Form p input {
        height: 3.125rem;
        width: 10.8em;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #MAIL_Form {
        margin-bottom: 1em;
    }

    #MAIL_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #MAIL_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #MAIL_Form p input {
        height: 3.125rem;
        width: 10.8em;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #PASS_Form {
        margin-bottom: 1em;
    }

    #PASS_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #PASS_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #PASS_Form p input {
        height: 3.125rem;
        width: 10.8em;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #TNAME_Form {
        margin-bottom: 1em;
    }

    #TNAME_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #TNAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #TNAME_Form p input {
        height: 3.125rem;
        width: 10.8em;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #AVATAR_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
    }
    
    #AVATAR_Form {
        margin-bottom: 0em;
    }

    #AVATAR_Form p {
        display: none;
    }

    #AvatarText {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
    }

    #avatar_button_hidden {
        display: none;
    }

    #id_avatar {
        display: none;
    }

    .AVATAR_selection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #selectedAvatar {
        margin-bottom: 2em;
    }

    #AvatarBackArrow {
        width: 3rem;
        font-size: 0px;
        padding: 0;
        background: transparent;
        color: transparent;
        border: none;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    #QR_Code > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #QR_Code > svg {
        display: block;
        margin: auto;
        margin-top: 1rem;
        background-color:#ffffff;
    }

    #TWOFA_Form {
        display: none;
    }


    #TWOFA_modal {
        width: 100%;
    }

    #form_2FA {
        margin-bottom: 1em;
        flex-direction: column;
        width: 90%;
        display: flex;
    }

    #form_2FA > p {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    #form_2FA > label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: flex-start !important;
    }

    #form_2FA > input {
        height: 3.125rem;
        width: 100%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #confirm_2fa {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    label[for="id_otp"]  {
        display: none !important; /* Force l'application du style */
    }

    #otp {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #Submit2FA {
        margin-bottom: 1rem;
    }

    .settings-profilePic {
	height: 6em;
        width: 6em;
        object-fit: cover;
        cursor: pointer;
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {
    /* Styles */

    #leftcolumn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #rightcolumn {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    #Settings {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 90%;
        max-width: 20em;
    }

    .margin_bottom {
        margin-bottom: 4em;
    }

    #section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #headerTextRow {
        display: none
        /* width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center; */
    }

    #settingsTitle::before {
        content: url('../images/gear-11-svgrepo-com.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right: 2rem; /* Adds some space between the icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

    #settingsTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: center;
        display: flex;
        width: 70%;
    }

    #settingsText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        align-self: start;
        margin-top: 0.7rem;
    }

    #separator {
        flex:  1; /* Occupation de l'espace disponible */
        border-top:  1px solid #828282; /* Ligne horizontale en haut */
        padding-bottom: 4em;
    }

    .field-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #NAME_Form {
        margin-bottom: 1em;
    }

    #NAME_Form .field-container > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
    }

    #NAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #NAME_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #MAIL_Form {
        margin-bottom: 1em;
    }

    #MAIL_Form .field-container > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
    }

    #MAIL_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #MAIL_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #PASS_Form {
        margin-bottom: 1em;
    }

    #PASS_Form .field-container > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
    }

    #PASS_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #PASS_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #TNAME_Form {
        margin-bottom: 1em;
    }

    #TNAME_Form .field-container > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
    }

    #TNAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #TNAME_Form p input {
        height: 3.125rem;
        width: 95%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #AVATAR_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
    }
    
    #AVATAR_Form {
        margin-bottom: 0em;
    }

    #AVATAR_Form p {
        display: none;
    }

    #AvatarText {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
    }

    #avatar_button_hidden {
        display: none;
    }

    #id_avatar {
        display: none;
    }

    .AVATAR_selection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #selectedAvatar {
        margin-bottom: 2em;
    }

    #AvatarBackArrow {
        width: 3rem;
        font-size: 0px;
        padding: 0;
        background: transparent;
        color: transparent;
        border: none;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    #QR_Code > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
        text-align: center;

        word-break: break-word; /* Utilisation de word-break pour les navigateurs modernes */
        overflow-wrap: break-word; /* Utilisation de overflow-wrap pour une meilleure compatibilité */
        width: 100%; /* Assurez-vous que le conteneur a une largeur définie */
    }

    #QR_Code > svg {
        display: block;
        margin: auto;
        margin-top: 1rem;
        background-color:#ffffff;

        width: 100%;
        height: 100%;
        max-width: fit-content;
        max-height: fit-content;
    }

    #TWOFA_Form {
        display: none;
    }


    #TWOFA_modal {
        width: 100%;
    }

    #form_2FA {
        margin-bottom: 1em;
        flex-direction: column;
        width: 90%;
        display: flex;
    }

    #form_2FA > p {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    #form_2FA > label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: flex-start !important;
    }

    #form_2FA > input {
        height: 3.125rem;
        width: 100%;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #confirm_2fa {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    label[for="id_otp"]  {
        display: none !important; /* Force l'application du style */
    }

    #otp {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #Submit2FA {
        margin-bottom: 1rem;
    }

    .settings-profilePic {
		height: 6em;
        width: 6em;
        object-fit: cover;
        cursor: pointer;
    }

    #TEXT_Form {
        margin-bottom: 1em;
    }
}
