/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {
    /* Styles */
    #leftcolumn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #rightcolumn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #Settings {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        padding-left: 4em;
        padding-right: 4em;
    }

    #section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60em;
    }

    #headerTextRow {
        width: 100%;
        padding-left: 4em;
        padding-right: 4em;
    }

    #settingsTitle::before {
        content: url('../images/gear-11-svgrepo-com.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right: 2rem; /* Adds some space between the icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

    #settingsTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: flex-start;
        display: flex;
        width: 70%;
    }

    #settingsText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-top: 0.7rem;
        margin-bottom: 2.8em;
    }

    #separator {
        flex:  1; /* Occupation de l'espace disponible */
        border-top:  1px solid #828282; /* Ligne horizontale en haut */
        padding-bottom: 4em;
    }

    .field-container {
        display: flex;
    }

    #NAME_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #NAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #NAME_Form p input {
        height: 3.125rem;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #MAIL_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #MAIL_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #MAIL_Form p input {
        height: 3.125rem;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #PASS_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #PASS_Form p input {
        height: 3.125rem;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-right: 0.8em;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #PASS_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #AVATAR_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.5rem;
    }

    #AVATAR_Form a {
        display: none;
    }

    #AVATAR_Form p .hide-element {
        display: none;
    }

    #id_avatar {
        display: none;
    }

    .AVATAR_selection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #avatar_button_hidden {
        display: none;
    }

    #selectedAvatar {
        margin-bottom: 2em;
    }

    #AvatarBackArrow {
        width: 8%;
        font-size: 0px;
        padding: 0;
        background: transparent;
        color: transparent;
        border: none;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
    
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 36.25em) and (max-width : 60em) {
    /* Styles */
    #leftcolumn {
        display: flex;
        justify-content: center;
        width: 18em;
    }

    #rightcolumn {
        display: flex;
        justify-content: center;
        width: 18em;
    }

    #Settings {
        display: flex;
        width: 80%;
        flex-direction: column;
        flex-shrink: 0;
    }

    #section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #headerTextRow {
        width: 32em;
    }

    #settingsTitle::before {
        content: url('../images/gear-11-svgrepo-com.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right:  2rem; /* Adds some space between the icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

    #settingsTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: flex-start;
        display: flex;
        width: 70%;
    }

    #settingsText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-top: 0.7rem;
        margin-bottom: 2.8em;
    }

    #separator {
        flex:  1; /* Occupation de l'espace disponible */
        border-top:  1px solid #828282; /* Ligne horizontale en haut */
        padding-bottom: 4em;
    }

    .field-container {
        display: flex;
    }

    #NAME_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #NAME_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #NAME_Form p input {
        height: 3.125rem;
        width: 10em;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #MAIL_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #MAIL_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #MAIL_Form p input {
        height: 3.125rem;
        width: 10em;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #PASS_Form > p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }

    #PASS_Form p label {
        color: #FFF;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #PASS_Form p input {
        height: 3.125rem;
        width: 10em;
        align-self: stretch;
        border-radius: 0.625rem;
        background: #D9D9D9;
        margin-top: 0.5em;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-family: Kodchasan;
        font-size: 1rem;
        border: none;
    }

    #AVATAR_Form p label {
        display: none;
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 36.25em) {
    /* Styles */
    #leftcolumn {
        display: flex;
        justify-content: center;
        width: 30em;
    }

    #rightcolumn {
        display: flex;
        justify-content: center;
        width: 30em;
    }

    #Settings {
        display: flex;
        width: 80%;
        flex-direction: column;
        gap: 2rem;
        flex-shrink: 0;
    }

    #section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    #headerTextRowMobile {
        width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    #settingsTitle::before {
        content: url('../images/gear-11-svgrepo-com.svg'); /* Replace with the actual path to your SVG */
        display: inline-block; /* Allows for width and height settings */
        width:  1em; /* Adjust the size as needed */
        height:  1em; /* Adjust the size as needed */
        margin-right: 2rem; /* Adds some space between the icon and the text */
        vertical-align: middle; /* Aligns the icon vertically with the text */
        background-size: contain; /* Ensures the SVG scales properly */
        background-repeat: no-repeat; /* Prevents the SVG from repeating */
    }

    #settingsTitle {
        color: #FFF;
        font-family: Kodchasan;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: flex-start;
        display: flex;
        width: 70%;
    }

    #settingsText {
        color: #FFF;
        display: flex;
        /* Body text */
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        align-self: start;
        margin-top: 0.7rem;
    }
}
