/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {

    .player-image {
        width: 2.3em; /* Adjust the size as needed */
        height: 2.3em; /* Adjust the size as needed */
        border-radius: 50%; /* Makes the image round */
        margin-right: 10px; /* Adds some space between the image and the name */
    }
    
    .bracket {
        display: flex;
        color: #fff;
        font-family: kodchasan;
    }
    
    .round {
        flex: 1;
        display: flex;
        margin-left: 1em;
        margin-right: 1em;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .match {
        margin: 15px 0;
        overflow: hidden;
    }
    
    .team {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #5DC6E8;
    }

    .team-loser {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #AE473B;
    }

    .team-winner {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #40FD14;
    }

    .winner {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #FFFF00;
    }
    
    .team:nth-child(odd) {
        border-bottom: none;
    }
    
    #sectionTournament {
        flex-direction: row;
        justify-content: center;
        width: 90%;
        height: 90%;
    }

    #SetTournament {
      height:90%;
      margin:0;
      padding:0;
      width: 90%;
    }

    .tournament-container {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      justify-items: center;
    }

    .tournament-name-grid {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      grid-template-rows: 1.0fr 1.0fr;
      align-items: center;
      row-gap: 15%;
      column-gap: 5%;
    }

    .Tournament-content {
      width: 80%;
    }
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 46.25em) and (max-width : 60em) {

    .player-image {
        width: 2.3em; /* Adjust the size as needed */
        height: 2.3em; /* Adjust the size as needed */
        border-radius: 50%; /* Makes the image round */
        margin-right: 10px; /* Adds some space between the image and the name */
    }
    
    .bracket {
        display: flex;
        color: #fff;
        font-family: kodchasan;
    }
    
    .round {
        flex: 1;
        display: flex;
        margin-left: 1em;
        margin-right: 1em;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .match {
        margin: 15px 0;
        overflow: hidden;
    }
    
    .team {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #5DC6E8;
    }
    
    .team:nth-child(odd) {
        border-bottom: none;
    }
    
    #sectionTournament {
        flex-direction: row;
        justify-content: center;
        width: 35em;
    }

    .tournament-container {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      justify-items: center;
    }

    .tournament-name-grid {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      grid-template-rows: 1.0fr 1.0fr;
      justify-items: center;
      row-gap: 15%;
      column-gap: 5%;
    }

    .Skin-tournament {
      display: grid;
      grid-template-columns: 200px 200px 200px
    }

    .Skin-box {
      height: auto;
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 46.25em) {

    .player-image {
        width: 2.3em; /* Adjust the size as needed */
        height: 2.3em; /* Adjust the size as needed */
        border-radius: 50%; /* Makes the image round */
    }
    
    .bracket {
        display: flex;
        color: #fff;
        font-family: kodchasan;
        font-size: 0.8rem;
    }
    
    .round {
        flex: 1;
        display: flex;
        margin-left: 0.5em;
        margin-right: 0.5em;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .match {
        margin: 15px 0;
        overflow: hidden;
    }
    
    .team {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #5DC6E8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .team:nth-child(odd) {
        border-bottom: none;
    }
    
    #sectionTournament {
        flex-direction: row;
        justify-content: center;
        width: 90%;
    }

    #SetTournament {
      height:100%;
      margin:0;
      padding:0;
    }

    .tournament-container {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      justify-items: center;
    }

    .tournament-name-grid {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      grid-template-rows: 1.0fr 1.0fr;
      align-items: center;
      row-gap: 15%;
      column-gap: 5%;
    }
}
