/* Desktops and laptops ----------- */
@media only screen and (min-width : 60.063em) {

    .col {
        width: 15em;
    }

    .conteneur-tournament {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        justify-items: center;
        margin-top: 1em;
    }

    .columnSkinTournament {
        display: flex;
        justify-content: center;
        width: 18em;
    }

    .section-tournament {
        margin-bottom: 1.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid grey;
    }

    .form-control {
        font-size: 0.9rem;
        font-family: 'Kodchasan';
    }

    .no-border {
        border: none !important;
    }

    .height-t {
        height: 3em;
    }

    .player-image {
        width: 2.3em; /* Adjust the size as needed */
        height: 2.3em; /* Adjust the size as needed */
        border-radius: 50%; /* Makes the image round */
        margin-right: 10px; /* Adds some space between the image and the name */
    }
    
    .bracket {
        display: flex;
        color: #fff;
        font-family: kodchasan;
    }
    
    .round {
        flex: 1;
        display: flex;
        margin-left: 1em;
        margin-right: 1em;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .match {
        margin: 15px 0;
        overflow: hidden;
    }
    
    .team {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #5DC6E8;
    }

    .team-loser {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #AE473B;
    }

    .team-winner {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #40FD14;
    }

    .winner {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #FFFF00;
    }
    
    .team:nth-child(odd) {
        border-bottom: none;
    }
    
    #sectionTournament {
        flex-direction: column;
        justify-content: center;
        width: 75%;
        display: flex;
        gap: 2em;
    }

    #SetTournament {
      margin:0;
      padding:0;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tournament-container {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      justify-items: center;
    }

    .tournament-name-grid {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      grid-template-rows: 1.0fr 1.0fr;
      align-items: center;
      row-gap: 15%;
      column-gap: 5%;
    }

    .Tournament-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 16em;
    }

    .SectionLayoutTournament {
        display: flex;
        height: 2.525rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #202532;
        border-top: 1px solid #828282;
        border-left: 1px solid #828282;
        border-right: 1px solid #828282;
    }

    .width-75 {
        width: 75% !important;
        margin-bottom: 0.5rem !important;
    }

    .t-button {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 18em !important;
        height: 2.750rem !important;
        margin-top: 1.7rem !important;
        font-family: 'Kodchasan' !important;
    }
    
}

/* Laptops and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 46.25em) and (max-width : 60em) {


    .col {
        width: 14em;
    }

    .conteneur-tournament {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        justify-items: center;
        margin-top: 1em;
    }

    .columnSkinTournament {
        display: flex;
        justify-content: center;
        width: 17em;
    }

    .section-tournament {
        margin-bottom: 1.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid grey;
    }

    .form-control {
        font-size: 0.9rem;
        font-family: 'Kodchasan';
    }

    .no-border {
        border: none !important;
    }

    .player-image {
        width: 2.3em; /* Adjust the size as needed */
        height: 2.3em; /* Adjust the size as needed */
        border-radius: 50%; /* Makes the image round */
        margin-right: 10px; /* Adds some space between the image and the name */
    }
    
    .bracket {
        display: flex;
        color: #fff;
        font-family: kodchasan;
    }
    
    .round {
        flex: 1;
        display: flex;
        margin-left: 1em;
        margin-right: 1em;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .match {
        margin: 15px 0;
        overflow: hidden;
    }
    
    .team {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #5DC6E8;
    }

    .team-loser {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #AE473B;
    }

    .team-winner {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #40FD14;
    }
    
    .team:nth-child(odd) {
        border-bottom: none;
    }
    
    #sectionTournament {
        flex-direction: column;
        justify-content: center;
        width: 75%;
        display: flex;
        gap: 2em;
    }

    #SetTournament {
      margin:0;
      padding:0;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tournament-container {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      justify-items: center;
    }

    .tournament-name-grid {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      grid-template-rows: 1.0fr 1.0fr;
      justify-items: center;
      row-gap: 15%;
      column-gap: 5%;
    }

    .Skin-tournament {
      display: grid;
      grid-template-columns: 200px 200px 200px
    }

    .Skin-box {
      height: auto;
    }

    .Tournament-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 15em;
    }

    .SectionLayoutTournament {
        display: flex;
        height: 2.525rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #202532;
        border-top: 1px solid #828282;
        border-left: 1px solid #828282;
        border-right: 1px solid #828282;
    }

    .width-75 {
        width: 75% !important;
        margin-bottom: 0.5rem !important;
    }

    .t-button {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 17em !important;
        height: 2.750rem !important;
        margin-top: 1.7rem !important;
        font-family: 'Kodchasan' !important;
    }
}

/* Smartphones (portrait and landscape) and small tablets ----------- */
@media only screen and (min-width : 1em) and (max-width : 46.25em) {

    .col {
        max-width: 15em;
    }

    .conteneur-tournament {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        justify-items: start;
        margin-top: 1em;
    }

    .form-control {
        font-size: 0.9rem;
        font-family: 'Kodchasan';
    }

    .form-check {
        margin-bottom: 0.95em;
    }

    .player-image {
        width: 2.3em; /* Adjust the size as needed */
        height: 2.3em; /* Adjust the size as needed */
        border-radius: 50%; /* Makes the image round */
    }
    
    .bracket {
        display: flex;
        color: #fff;
        font-family: kodchasan;
        font-size: 0.8rem;
    }
    
    .round {
        flex: 1;
        display: flex;
        margin-left: 0.5em;
        margin-right: 0.5em;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .match {
        margin: 15px 0;
        overflow: hidden;
    }
    
    .team {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #5DC6E8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-loser {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #AE473B;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-winner {
        color: #fff;
        padding: 10px 8px;
        background-color: #202532;
        border: 1px solid #40FD14;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .team:nth-child(odd) {
        border-bottom: none;
    }
    
    #sectionTournament {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        display: flex;
        gap: 2em;
    }

    #SetTournament {
      margin:0;
      padding:0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .SectionLayoutTournament {
        display: flex;
        height: 2.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;

        /* Body CTA Desktop Text */
        color: #FFF;
        font-family: Kodchasan;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #202532;
        border-top: 1px solid #828282;
        border-left: 1px solid #828282;
        border-right: 1px solid #828282;
    }

    .tournament-container {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      justify-items: center;
    }

    .tournament-name-grid {
      display: grid;
      grid-template-columns: 1.0fr 1.0fr;
      grid-template-rows: 1.0fr 1.0fr;
      align-items: center;
      row-gap: 15%;
      column-gap: 5%;
    }

    .Tournament-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 15em;
    }

    .mid-tournament {
        padding: 0 !important;
    }

    .t-button {
        margin-top: 1em !important;
        margin-bottom: -1.6em !important;
        width: 100% !important;
        font-family: 'Kodchasan' !important;
    }
}
