{% load static %}
<!DOCTYPE html>
<html>
  {% include "Home/head.html" %}
  <body>
    {% include "Profile/Avatar.html" %}
    {% include "Profile/Profile.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
    {% include "FriendList/FriendsList.html" %}
    <header>
      <div id="Header_content"></div>
    </header> 
    <div id="content">
      <div id="overlay">
      	<div class="mid midcolumn fadeinAnimation">
          <div id="titleContent" data-content="GAMEBOARD_PAGE"></div>
          <div class="section-stats">
            <span class="stats-title board-date">Date: {{ game.date }}</span>
          </div>
          <div class="section-stats-header">
            <h1 class="gameStats">Game Stats</h1>
            <img id="ModalBackArrow" src="{% static 'images/BackArrow.svg' %}" alt="Back arrow"></img>
          </div>
                  <div class="section-stats">
                    {% if me.winner %}
                      <div class="winner-loser">
                        <span id="WR" class="stats-title">Winner</span>
                        <span class="stats-title">Loser</span>
                      </div>
                    {% else %}
                      <div class="winner-loser">
                        <span class="stats-title">Loser</span>
                        <span id="WR" class="stats-title">Winner</span>
                      </div>
                    {% endif %}
                    <div class="winner-loser">
                      <div id="STATS_user">
                        <img id="HEADER_GameProfilePicLeft" class="ProfilePic header-profilePic profilePic-left" src="{{ me.user.avatar.url }}" alt="Very basic user"></img>
                        <h1 class="username" id="GAME_username_left">{{ me.user.username }}</h1>
                      </div>
                      <div id="STATS_user">
                        <img id="HEADER_GameProfilePicLeft" class="ProfilePic header-profilePic profilePic-left" src="{{ opponent.user.avatar.url }}" alt="Very basic user"></img>
                        <h1 class="username" id="GAME_username_right">{{ opponent.user.username }}</h1>
                      </div>
                    </div>
                  </div>
                  <div class="section-stats">
                    <span class="stats-title">Score</span>
                  </div>
                  <div class="content-score">
                  
                    <div class="pk-wrapper">
                      <div id="left" class=" rantangle left">
                        <span class="values-stats" id="score-left">{{ me.score }}</span>
                      </div>
                      <div id="right" class="rantangle right">
                        <span class="values-stats" id="score-right">{{ opponent.score }}</span>
                      </div>
                    </div>
                  
                  </div>

                  <div class="skills">
                    <ul class="lines">
                      <li class="line l--0">
                        <span class="line__label">
                          0
                        </span>
                      </li>
                      <li class="line l--25">
                        <span class="line__label">
                          25
                        </span>
                      </li>
                      <li class="line l--50">
                        <span class="line__label">
                          50
                        </span>
                      </li>
                      <li class="line l--75">
                        <span class="line__label">
                          75
                        </span>
                      </li>
                      <li class="line l--100">
                        <span class="line__label">
                          100
                        </span>
                      </li>
                    </ul>
                    
                    <div class="charts">
                      <span class="chart__title">Ball : max speed in QQ*</span>
                      <div class="chart chart--dev">
                        <ul class="chart--horiz">
                          <span class="chart__label">
                            {{ me.user.username }} - {{ me.max_speed }}
                          </span>
                          <li class="chart__bar" style="width: {{ me.max_speed }}%">
                          </li>
                          <span class="chart__label">
                            {{ opponent.user.username }} - {{ opponent.max_speed }}
                          </span>
                          <li class="chart__bar" style="width: {{ opponent.max_speed }}%">
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="section-stats">
                    <span class="stats-title">Wall bounces: {{ game.bounce }}</span>
                  </div>
                  <div class="section-stats">
                    <span class="stats-title">Max exchanges: {{ game.max_exchange }}</span>
                  </div>
                  <div class="section-stats">
                    <span class="stats-title">Duration: {{ game.duration }} secs</span>
                  </div>
                  <div class="section-stats">
                    <span class="stats-legend">*Quantum Quirk (QQ): The peculiar and unpredictable behaviors exhibited by quantum entities within a specific spatial boundary per unit of time.</span>
                  </div>

                  <div id="NbRounds">{{ game.nb_rounds }}</div>
          </div>
        </div>
      </div>
    </div>
    {% include "Home/footer.html" %}
  </body>
</html>


