<!DOCTYPE html>
{% load static %}
<html>
  <body>
	{% include "Home/head.html" %}
	{% include "Home/header.html" %}
	{% include "Profile/Avatar.html" %} <!-- TODO load the modal only if the user is connected -->
	{% include "Profile/Profile.html" %}
	{% include "Auth/code_validation.html" %}
 	{% include "Profile/enable_2fa.html" %}

	<div id="content">
		<div id="overlay">
			<div class="mid midcolumn flowAnimation">
				<div id="titleContent" data-content="GAME_SOLO"></div>
				<div class="section-score">
					<div class="conteneur">
						<div class="flex-column">
							<div id="GAME_user">
								<img id="HEADER_ProfilePic" class="ProfilePic header-profilePic profilePic-left" src="{{ profil_picture }}" alt="Very basic user"></img>
								<h1 id="HEADER_username">{{ username }}</h1>
						  </div>
						</div>

						<div class="flex-row">
							<div class="scoreText" id="score1div"></div>
							<p class="scoreText">-</p>
							<div class="scoreText" id="score2div"></div>
						</div>
						<div class="flex-column">
							<div id="GAME_user">
								<h1 id="HEADER_username">{{ username }}</h1>
								<img id="HEADER_ProfilePic" class="ProfilePic header-profilePic profilePic-right" src="{{ profil_picture }}" alt="Very basic user"></img>
						  </div>
						</div>
					</div>
				</div>
					<canvas id="MyCanvas">
						<p>Description of the canvas for those unable to view it.</p>
					</canvas>
			</div>
		</div>
	</div>
  </body>
</html>
