<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchmaking</title>
</head>
<body>
    {% include "Home/head.html" %}
	{% include "Home/header.html" %}
	{% include "Profile/Avatar.html" %} <!-- TODO load the modal only if the user is connected -->
	{% include "Profile/Profile.html" %}
	{% include "Auth/code_validation.html" %}
 	{% include "Profile/enable_2fa.html" %}

	<div id="content">
		<div id="overlay">
			<div class="mid midcolumn flowAnimation">
				<div id="titleContent" data-content="GAME_ONLINE"></div>
                <h1>Matchmaking {{ request.user }}</h1>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
			</div>
		</div>
	</div>

</body>
</html>
