<!DOCTYPE html>
{% load static %}

<html lang="fr">
  {% include "Home/head.html" %}
  <body>
    {% include "Profile/Avatar.html" %}
    {% include "Profile/Profile.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
      <header>
        <div id="Header_content"></div>
      </header>

          <div id="content">
                  <div id="overlay">
                          <div class="mid midcolumn flowAnimation">
                                  <div id="titleContent" data-content="GAME_MODES"></div>
                                  <div class="section">
                                          <h1 class="modesTitle remove-bottom-margin">Choose game mode</h1>
                                    <div class="pong"> <!-- TODO : Need to ehance the CSS -->
                                      <img id="pong_img" src="{% static 'images/pong.webp' %}" alt="Pong display image">
                                    </div>
                                  </div>
                                  <div class="section">
                                          <p class="bodyText">Quick play:</p>
                                                  <div class="DoubleButtonSettings">
                                                          <button id="SELECT_Player" class="MediumButtonLayout left ButtonDark">1 VS. 1</button>
                                                          <button id="SELECT_ai" class="MediumButtonLayout right ButtonDark">1 VS. AI</button>
                                                  </div>
                                  </div>
                                  <div class="section">
                                          <p class="bodyText">Custom game:</p>
                                                  <div class="DoubleButtonSettings">
                                                          <button id="GAME_Join" class="MediumButtonLayout left ButtonDark">Join</button>
                                                          <button id="GAME_Create" class="MediumButtonLayout right ButtonDark">Create</button>
                                                  </div>
                                  </div>
                                  <div class="section">
                                          <p class="bodyText">Tournament:</p>
                                                  <div class="DoubleButtonSettings">
                                                          <button id="TRNMT_Join" class="MediumButtonLayout left ButtonDark">Join</button>
                                                          <button id="TRNMT_Create" class="MediumButtonLayout right ButtonDark">Create</button>
                                                  </div>
                                  </div>
                          </div>
                  </div>
          </div>
    {% include "Home/footer.html" %}
  </body>
</html>
