<!DOCTYPE html>
{% load static %}

<html lang="fr">
  {% include "Home/head.html" %}
  <body>
    {% include "Profile/Avatar.html" %}
    {% include "Profile/Profile.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
    {% include "FriendList/FriendsList.html" %}
      <header>
        <div id="Header_content"></div>
      </header>

          <div id="content">
                  <div id="overlay">
                          <div class="mid midcolumn flowAnimation">
                                  <div id="titleContent" data-content="GAME_MODES"></div>
                                  <div class="section">
                                        <h1 class="gameTitle">Game modes</h1>
                                    <!-- <div class="pong">
                                      <img id="pong_img" src="{% static 'images/Pong.png' %}" alt="Pong display image">
                                    </div> -->
                                  </div>
                                  <div class="section">
                                          <p class="bodyText">Quick play:</p>
                                                  <div class="DoubleButtonSettings">
                                                          <button id="SELECT_Player" class="MediumButtonLayout left ButtonNeon">Online</button>
                                                          <button id="SELECT_ai" class="MediumButtonLayout right ButtonNeon">1 VS. AI</button>
                                                  </div>
                                  </div>
                                  <div class="section">
                                          <p class="bodyText">Custom game:</p>
                                                  <div class="DoubleButtonSettings">
                                                          <button id="GAME_Join" class="MediumButtonLayout left ButtonNeon">Join</button>
                                                          <button id="GAME_Create" class="MediumButtonLayout right ButtonNeon">Create</button>
                                                  </div>
                                  </div>
                                  <div class="section">
                                          <p class="bodyText">Tournament:</p>
                                                  <div class="DoubleButtonSettings">
                                                          <button id="TRNMT_Create" class="MediumButtonLayout left ButtonNeon">Create</button>
                                                          <button id="TRNMT_Continue" class="MediumButtonLayout right ButtonNeon">Continue</button>
                                                  </div>
                                  </div>
                          </div>
                  </div>
          </div>
    {% include "Home/footer.html" %}
  </body>
</html>
