{% load static %}
<!DOCTYPE html>
<html>
  {% include "Home/head.html" %}
  <body>
    {% include "Profile/Avatar.html" %}
    {% include "Profile/Profile.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
    {% include "FriendList/FriendsList.html" %}
    <header>
      <div id="Header_content"></div>
    </header>
    <div id="content">
      <div id="overlay">
        <div class="mid midcolumn fadeinAnimation">
          <div id="titleContent" data-content="STATS_PAGE"></div>
          <div class="section-stats-header">
            <h1 class="gameStats">Player Stats: {{user}}</h1>
            <img id="ModalBackArrow" src="{% static 'images/BackArrow.svg' %}" alt="Back arrow"></img>
          </div>

                  <div class="section-stats-center">
                    {% if win_rate >= 0 and win_rate <= 0.33 %}
                      <span class="WR-title low-ranked">Winrate: {{ win_rate }}</span>
                      <img class="ranked-gif" src="{%static 'images/sad.gif'%}"></img>
                    {% elif win_rate > 0.33 and win_rate <= 0.66 %}
                      <span class="WR-title medium-ranked">Winrate: {{ win_rate }}</span>
                      <img class="ranked-gif" src="{%static 'images/purple-bat.gif'%}"></img>
                    {% elif win_rate > 0.66 and win_rate <= 1 %}
                      <span class="WR-title high-ranked">Winrate: {{ win_rate }}</span>
                      <img class="ranked-gif" src="{%static 'images/smolverse-smol.gif'%}"></img>
                    {% endif %}
                  </div>

                  {% comment %} <div class="section-stats">
                    <span class="stats-title">Game types:</span>
                  </div> {% endcomment %}
                  <div class="section-stats">
                    <span class="stats-title">Total games played: {{ nb_games }}</span>
                  </div>

                  <div class="section-stats-row">
                    <span class="stats-title">Regular</span>
                    <span class="stats-title">Tournament</span>
                  </div>

                  <div class="content-score">
                    <div class="pk-wrapper">
                      <div id="left-games" class=" rantangle left">
                        <span class="values-stats" id="regular-games">{{ regular_games }}</span>
                      </div>
                      <div id="right-games" class="rantangle right">
                        <span class="values-stats" id="tournament-games">{{ tournament_games }}</span>
                      </div>
                    </div>
                  </div>


                  <div class="section-stats">
                    <span class="stats-title">Total Victories: {{ victory }}</span>
                  </div>

                  <div class="section-stats-row">
                    <span class="stats-title">IA</span>
                    <span class="stats-title">Player</span>
                  </div>

                  {% comment %} <div class="section-stats">
                    <span class="stats-title">Tournaments Victories: {{ tournaments_winned }}</span>
                  </div> {% endcomment %}
                  <div class="content-score">
                    <div class="pk-wrapper">
                      <div id="left-wins" class=" rantangle left">
                        <span class="values-stats" id="victory_ia">{{ victory_ia }}</span>
                      </div>
                      <div id="right-wins" class="rantangle right">
                        <span class="values-stats" id="victory_player">{{ victory_player }}</span>
                      </div>
                    </div>
                  </div>

                  <div id="NbGames">{{ nb_games }}</div>
                  <div id="Victories">{{ victory }}</div>
                </div>
              </div>
            </div>
          </div>
          {% include "Home/footer.html" %}
        </body>
</html>


