<div class="modal fade" id="TwofaCodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
	<div id="ModalContent" data-content="TwoFa_Code"></div>
	  <div class="d-flex justify-content-center mb-4">
	      <div id="code_2fa"></div>
	  </div>
	</div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
