<div id="confirm_2fa">  
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="errornote">
	{{ error }}
      </p>
    {% endfor %}
  {% endif %}

  <form id="form_2FA" action="" method="post">
    {% csrf_token %}

    <div class="form-row">
      {{ form.otp.errors }}
      {{ form.otp.label_tag }} {{ form.otp }}
    </div>

    <div class="submit-row">
      <input type="submit" value="Submit">
    </div>
    <button id="cancel_2fa">Cancel</button>
    <div id="success_2FA" style="color: green;"></div>
    <div id="failure_2FA" style="color: red;"></div>
  </form>
</div>
