<div id="{{ div_ID  }}">  
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">{{ error }}</p>
    {% endfor %}
  {% endif %}
  <form id="{{ form_id }}" class="form_2FA" action="" method="post">
    {% csrf_token %}
    <p id="otp">Please enter your Authenticator code:</p>
    {{ form.otp.errors }}
    {{ form.otp.label_tag }} {{ form.otp }}
    <button type="submit" class="SelectButtonLayout ButtonNeon" value="Submit">Submit</button>
  </form>
  <button class="SelectButtonLayout ButtonDark form_2FA" id="{{ cancel }}">Cancel</button>
  <div id={{ success }} style="color: green;"></div>
  <div id={{ failure }} style="color: red;"></div>
</div>