
{% load static %}
<div id={{ div_ID  }}>  
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="errornote">
	{{ error }}
      </p>
    {% endfor %}
  {% endif %}

  <form id="form_2FA" action="" method="post">
    {% csrf_token %}

    {{ form.otp.errors }}
    {{ form.otp.label_tag }} {{ form.otp }}

    <!--<div class="submit-row">-->
      <input type="submit" value="Submit">
    <!--</div>-->
    <div id="success_2FA" style="color: green;"></div>
    <div id="failure_2FA" style="color: red;"></div>
  </form>
  <button id={{ cancel }}>Cancel</button>
</div>
