{% load static %}
{% include "Home/head.html" %}
{% include "Home/header.html" %}
<div id="content">
	<div id="overlay">
	<div class="mid midcolumn">
	<div id="titleContent" data-content="SIGNUP_PAGE"></div>
		<form id="SIGNUP_Form" method="post" action="/auth/signup/">
			<h1 id ="signupTitle">Create your account!</h1>
			{% csrf_token %}
			{{ form.as_p }}
			{% comment %} <div id="SIGNUP_Errors" style="color: red;"></div> {% endcomment %}
			<div id ="infoSeparator">
				<div id="leftline"></div>
				<p id="text">Sign up</p>
				<div id="rightline"></div>
			</div>
			<button id="btn_signup" type="submit">Create Account</button>
			<div id ="SIGNUP_signin">
				<p>Already have an account ? <b>Log in</b></p>
			</div>
		</form>
	</div>
	</div>
</div>
{% include "Home/footer.html" %}
