{% load static %}
<!DOCTYPE html>
<html>
  {% include "Home/head.html" %}
  <body>
    {% include "Profile/Profile.html" %}
    {% include "Profile/Avatar.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
    {% include "FriendsList.html" %}
    <header>
      <div id="Header_content"></div>
    </header> 


    <div id="content">
	    {% include "Profile/Profile.html" %}
	    <div id="overlay">
	    <div class="mid midcolumn flowAnimation">
	    <div id="titleContent" data-content="SIGNUP_PAGE"></div>
		    <form id="SIGNUP_Form" method="post" action="/auth/signup/">
			    <h1 id ="signupTitle">Account creation</h1>
			    {% csrf_token %}
			    {{ form.as_p }}
			    <div id="SIGNUP_Errors" style="color: red;"></div>
			    <button id="btn_signup" type="submit">Sign up!</button>
			    <div id ="SIGNUP_signin">
				    <p>Already have an account ? <b>Log in</b></p>
			    </div>
		    </form>
	    </div>
	    </div>
    </div>
    {% include "Home/footer.html" %}
  </body>
</html>
