{% load static %}
<!DOCTYPE html>
<html>

  {% include "Home/head.html" %}
  <body>
    {% include "Home/header.html" %}
    {% include "Profile/Avatar.html" %}
    {% include "Profile/Profile.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
    {% include "FriendList/FriendsList.html" %}
    <header>
      <div id="Header_content"></div>
    </header> 

    <div id="content">
      <div id="overlay">
	<div class="mid midcolumn flowAnimation">
	  <div id="titleContent" data-content="SIGNIN_PAGE"></div>
	  <form id="SIGNIN_Form" action="">
	    <h1 id="login_title">Login Informations</h1>
	    {% csrf_token %}
	    {{ form.as_p }}
	    <!-- Display area for client-side validation errors -->
	    <div id="SIGNIN_Errors" style="color: red;"></div>
	    <div id ="forgot_password">
	      <p>Forgot password?</p>
	    </div>
	    <!-- Submit button triggers client-side validation -->
	    <button type="submit" class="ButtonLayout ButtonBlue CTA">Sign In</button>
	    <div id="SIGNIN_Signup">
	      <p>Doesn’t have a Pong account ? <b>Create your account</b></p>
	    </div>
	  </form>
	</div>
      </div>
    </div>
    {% include "Home/footer.html" %}
  </body>
</html>
