{% load static %}
{% include "Home/head.html" %}
{% include "Home/header.html" %}
<div id="content">
	<div id="overlay">
	<div class="mid midcolumn">
	<div id="titleContent" data-content="SIGNUP_PAGE"></div>
	<img id="BackArrow" src="{% static 'images/Arrow.png' %}" alt="Shitty back arrow"></img>
		<form id="SIGNUP_Form" method="post" action="/auth/signup/">
			<h1 id ="signupTitle">Sign up !</h1>
			{% csrf_token %}
			{{ form.as_p }}
			<div id="SIGNUP_Errors" style="color: red;"></div>
			<button id="btn_signup" type="submit">S’inscrire</button>
			<div id ="SIGNUP_signin">
				<p>Already have an account ? <b>Log in</b></p>
			</div>
		</form>
	</div>
	</div>
</div>
{% include "Home/footer.html" %}
