{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<div id="content">
	<h2>Inscription</h2>
	<p>Remplissez le formulaire ci-dessous pour vous inscrire.</p>
	<form id="signup_form" method="post" action="/auth/signup/">
		{% csrf_token %}
		<ul>
			{{form.username.errors}}
			{{form.username.label_tag}} {{form.username}}
			{{form.email.label_tag}} {{form.email}}
			{{form.password1.label_tag}} {{form.password1}}
			{{form.password2.label_tag}} {{form.password2}}
		</ul>
		<button type="submit" id="sub_register" onclick="signupFormSubmitHandler()">S’inscrire</button>
	</form>
</div>
{% include "footer.html" %}
