{% load static %}
{% include "head.html" %}
{% include "header.html" %}
<div id="content">

	<form id="signupForm" method="post" action="/auth/signup/">
		<h1 id ="signupTitle">Sign up !</h1>
		{% csrf_token %}
		{{ form.as_p }}
		{% comment %} <ul>
			{{form.username.errors}}
			{{form.username.label_tag}} {{form.username}}
			{{form.email.label_tag}} {{form.email}}
			{{form.password1.label_tag}} {{form.password1}}
			{{form.password2.label_tag}} {{form.password2}}
		</ul> {% endcomment %}
		<button type="submit" id="btn_signup">Create account</button>
		<div id ="signupcta">
			<p>Already have an account ? <b>Log in</b></p>
		  </div>
	</form>
</div>
{% include "footer.html" %}
