{% load static %}
<header>
	<!-- <div class="desktop-header-not-logged">
        <div class="menu-icon">
			<button class="btn btn-dark" type="button" data-mdb-toggle="offcanvas" data-mdb-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
		</div>
		<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;" id="offcanvas" data-mdb-hidden="false">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
			  <span class="fs-4">Sidebar</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
			  <li class="nav-item">
				<a href="#" class="nav-link active" aria-current="page">
				  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
				  Home
				</a>
			  </li>
			  <li>
				<a href="#" class="nav-link text-white">
				  <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
				  Dashboard
				</a>
			  </li>
			</ul>
			<hr>
		  </div>
        <div class="image"></div>
        <button class="desktop-button-sign-in">
          <span class="sign-in">Sign in</span>
        </button>
    </div> -->

	<nav>
	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">logout</a>
	{% else %}
    	<button data-section="auth/signin" onclick="clickButton(this)">signin</button>
	{% endif %}
    <button data-section="/" onclick="clickButton(this)">LOGO</button>
	</nav>
</header>

