django
python-decouple
psycopg2-binary
gunicorn
Pillow
django-bootstrap-v5
channels
djangorestframework
pyjwt

django-crontab
pyotp>=2.6.0
djangorestframework_simplejwt>=5.0.0
django-otp>=0.10.0
django-two-factor-auth>=1.10.0

channels-redis
django-redis
