{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "Home/head.html" %}
  <body>
    <div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"></div>
    {% include "Profile/Avatar.html" %}
    {% include "Auth/code_validation.html" %}
    {% include "Profile/enable_2fa.html" %}
    {% include "FriendList/FriendsList.html" %}
    <header>
      <div id="Header_content"></div>
    </header> 
    <div id="content">
      <div id="titleContent" data-content="ERROR_404_PAGE"></div>
        <div id="content404">
          <div id="overlayFullscreen">
            <div class="midFullscreen midrow margin_bottom">
              <div id="section">
                <div id="skinsTextRow">
                  <h1 id="skinsTitle">404 page not found !</h1>
                  <p id="skinsText">Congrats, you broke it...</p>
                  <p id="skinsText" onclick="goBack()" style="cursor: pointer; text-decoration: underline;">Go back</p>
                </div>
              </div>
              <section>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "Home/footer.html" %}
  </body>
</html>

<script>
  function goBack() {
    header_LogoCallback();
  }
</script>
