{% load static %}
<header>
	<nav class="navbar-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Offcanvas</h5>
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							<button data-section="/" onclick="clickButton(this)">LOGO</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="div_logo">
			<button id="logo_nav" data-section="/" onclick="clickButton(this)"><img id="logo_placeholder" src="{% static 'images/logoV0.5.png' %}" alt="Pong logo"></button>
		</div>
		<div id="div_signin">
			<button id="button_signin_nav" data-section="auth/signin" onclick="clickButton(this)">Sign in</button>
		</div>
	</nav>
</header>
