{% load static %}
<header>
  <div id="Header_content">
	{% if user.is_authenticated %}
	  <div id="HEADER_IsAuth" data-auth="true"></div>
	{% else %}
	  <div id="HEADER_IsAuth" data-auth="false"></div>
	{% endif %}

	<nav class="navbar-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Offcanvas</h5>
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							{% if user.is_authenticated %}
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProfileModal" id="openModal">
									Profile
								</button>
							{% endif %}
							<button id="HEADER_NavLogo">LOGO</button>
							{% if user.is_authenticated %}
							    <button id="HEADER_NavSignOut">Sign Out</button>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="div_logo">
			<button id="HEADER_Logo"><img id="logo_placeholder" src="{% static 'images/logoV0.5.png' %}" alt="Pong logo"></button>
		</div>
		
		<div id="div_profile">
		  {% if user.is_authenticated %}
		    <button id="HEADER_Profile">Profile hehe</button>
		  {% else %}
		    <button id="HEADER_Signin">Sign in</button>
		  {% endif %}
		</div>
	</nav>
  </div>
</header>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var offcanvasElement = document.getElementById('offcanvasNavbar');
		var modalButton = document.getElementById('openModal');
	
		modalButton.addEventListener('click', function () {
			var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
			if (offcanvas) {
				offcanvas.hide();
			}
		});
	});
</script>
