{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href={% static "css/singlepage.css" %}>
    
	<!-- Script tools -->
	<script src={% static "js/Tools/ObserverFunctions.js" %}></script>
	<script src={% static "js/Tools/Tools.js" %}></script>
	<script src={% static "js/Tools/SinglePage.js" %}></script>

	<!-- Script app -->
	<script src={% static "js/Auth/SignUp.js" %}></script>
	<script src={% static "js/Auth/SignIn.js" %}></script>
	<script src={% static "js/Auth/SignOut.js" %}></script>

	<!-- Script main structure -->
	<script src={% static "js/main.js" %}></script>

</head>
