{% load static %}
<header>
  {% comment %} <div id="Header_content">
		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
				<button id='modalButton' data-bs-dismiss="modal">
				  <img id="BackArrow" src="{% static 'images/Arrow.png' %}" alt="Shitty back arrow"></img>
				</button>
			  </div>
			  <div class="modal-body">
						  <div id="titleContent" data-content="PROFILE_PAGE"></div>
						  <div id="ProfilePage">
							  <div id="ProfileCardboard">
								  <img id="ProfilePic" src="{% static 'images/User_Test_Val.jpg' %}" alt="Very basic user"></img>
								  <div id="UserStatus">
									  <h1 id="username">DoubleV</h1>
									  <p id="connectStatus">online</p>
								  </div>
							  </div>
							  <button class="ButtonLayout ButtonNeon">Settings</button>
							  <button class="ButtonLayout ButtonSalmon">Skins</button>
							  <div id ="UserInfo">
								  <div id="leftline"></div>
								  <p id="UserInfoText">User info</p>
								  <div id="rightline"></div>
							  </div>
							  <button class="ButtonLayout ButtonBlue">History</button>
							  <button class="ButtonLayout ButtonBlue">Stats</button>
							  <button class="ButtonLayout ButtonBlue">42 Account</button>
						  </div>
			  </div>
			  <div class="modal-footer">
			  </div>
			</div>
		  </div>
		</div> {% endcomment %}
	{% if user.is_authenticated %}
	  <div id="HEADER_IsAuth" data-auth="true"></div>
	{% else %}
	  <div id="HEADER_IsAuth" data-auth="false"></div>
	{% endif %}


	<nav class="navbar-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Offcanvas</h5>
					<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							{% comment %} {% if user.is_authenticated %} {% endcomment %}
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProfileModal" id="openModal">
									Profile
								</button>
							{% comment %} {% endif %} {% endcomment %}
							<button id="HEADER_NavLogo">LOGO</button>
							{% if user.is_authenticated %}
							    <button id="HEADER_NavSignOut">Sign Out</button>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="div_logo">
			<button id="HEADER_Logo"><img id="logo_placeholder" src="{% static 'images/logoV0.5.png' %}" alt="Pong logo"></button>
		</div>
		
		<div id="div_profile">
		  {% if user.is_authenticated %}
		    <button id="HEADER_Profile">Profile hehe</button>
		  {% else %}
		    <button id="HEADER_Signin">Sign in</button>
		  {% endif %}
		</div>
	</nav>
  </div>
</header>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var offcanvasElement = document.getElementById('offcanvasNavbar');
		var modalButton = document.getElementById('openModal');
	
		modalButton.addEventListener('click', function () {
			var offcanvas = bootstrap.Offcanvas.getInstance(offcanvasElement);
			if (offcanvas) {
				offcanvas.hide();
			}
		});
	});
</script>