{% load static %}
<!doctype html>
<html lang="en-US">
{% include "Home/head.html" %}

{% include "Home/header.html" %}
  <body>
	<div id="content">
	  <h1>Home</h1>
	  {% if user.is_authenticated %}
	    Hi {{ user.username }}!
	    <button id="SignOut" data-section="/" onclick="SignOut()">Sign Out</button>
	  {% else %}
	    <p>You are not logged in</p>
	    <button data-section="auth/signin" onclick="clickButton(this)">Sign In</button>
	  {% endif %}
	</div>	
  </body>

{% include "Home/footer.html" %}
</html>
