<html>
  <div>
    <p>I'm {{ me.username }}</p>
  </div>
  <div>
    <p>Request friends list:</p>
    {% for person in lst %}
      {{ person.sender }}
      <form action="" name="{{ person.sender }}" method="post">
        {% csrf_token %}
        <button type="submit" name="key" value="add">add</button>
      <form action="" name="{{ person.sender }}" method="post">
        {% csrf_token %}
        <button type="submit" name="key" value="remove">remove</button>
      </form>
    {% endfor %}
  </div>
</html>
