{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href={% static "css/singlepage.css" %}>
    <title>Home 1</title>
	<script src={% static "js/singlepage.js" %}></script>
  </head>

  <header id="header"></header>
  <body>
	<div id="content">
    	<h1>Hello 1</h1>
		<img src="{% static "images/1.png" %}" alt="1">
	</div>
  </body>
  <footer id="footer"></footer>

</html>
