<html lang="en">
{% load static %}
{% include "Home/head.html" %}
{% include "Home/header.html" %}

  <body>

      <form action="" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{{ user.avatar.url }}"></img>
        {{ avatar.as_p }}
        <button type="submit" name='avatar'>Update Avatar</button>
      </form>

      <form action="" method='post'>
        {% csrf_token %}
        {{ name.as_p }}
        <button type="submit">Update Name</button>
      </form>

      <form action="" method='post'>
        {% csrf_token %}
        {{ mail.as_p }}
        <button type="submit">Update mail</button>
      </form>

      <form action="" method='post'>
        {% csrf_token %}
        {{ pswd.as_p }}
        <button type="submit">Update pswd</button>
      </form>


  </body>

  {% include "Home/footer.html" %}
</html>




